<section class="additional-service">
  <div class="additional-service container">
    <h2 class="additional-service__title ua" id="additional-service">Послуги з чищення</h2>
    <ul class="additional-service__list list">
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../../src/images/desktop/additional-service/img_1@1x.webp 1x,
                ../../src/images/desktop/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
              ../../src/images/desktop/additional-service/img_1@1x.jpg 1x,
              ../../src/images/desktop/additional-service/img_1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ../../src/images/tablet/additional-service/img_1@1x.webp 1x,
              ../../src/images/tablet/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ../../src/images/tablet/additional-service/img_1@1x.jpg 1x,
              ../../src/images/tablet/additional-service/img_1@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
              ../../src/images/mobile/additional-service/img_1@1x.webp 1x,
              ../../src/images/mobile/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
              ../../src/images/mobile/additional-service/img_1@1x.jpg 1x,
              ../../src/images/mobile/additional-service/img_1@2x.jpg 2x
              "
            />
            <img class="cleaning-the-fireplace" loading="lazy" src="#" alt="Чищення каміна" />
          </picture>
        </div>
        <div class="additional-service__description">
          <h3 class="additional-service__name">Чищення каміна</h3>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Замовити послугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
              ../../src/images/desktop/additional-service/img_2@1x.webp 1x,
              ../../src/images/desktop/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
              ../../src/images/desktop/additional-service/img_2@1x.jpg 1x,
              ../../src/images/desktop/additional-service/img_2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ../../src/images/tablet/additional-service/img_2@1x.webp 1x,
              ../../src/images/tablet/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ../../src/images/tablet/additional-service/img_2@1x.jpg 1x,
              ../../src/images/tablet/additional-service/img_2@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
              ../../src/images/mobile/additional-service/img_2@1x.webp 1x,
              ../../src/images/mobile/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
              ../../src/images/mobile/additional-service/img_2@1x.jpg 1x,
              ../../src/images/mobile/additional-service/img_2@2x.jpg 2x
              "
            />
            <img class="сrack-repair" loading="lazy" src="#" alt="Чищення печі" />
          </picture>
        </div>
        <div class="additional-service__description">
          <h3 class="additional-service__name">Чищення печі</h3>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Замовити послугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
              ../../src/images/desktop/additional-service/chistka_dimoxoda@1x.webp 1x,
              ../../src/images/desktop/additional-service/chistka_dimoxoda@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
              ../../src/images/desktop/additional-service/chistka_dimoxoda@1x.jpg 1x,
              ../../src/images/desktop/additional-service/chistka_dimoxoda@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ../../src/images/tablet/additional-service/chistka_dimoxoda@1x.webp 1x,
              ../../src/images/tablet/additional-service/chistka_dimoxoda@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ../../src/images/tablet/additional-service/chistka_dimoxoda@1x.jpg 1x,
              ../../src/images/tablet/additional-service/chistka_dimoxoda@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
              ../../src/images/mobile/additional-service/chistka_dimoxoda@1x.webp 1x,
              ../../src/images/mobile/additional-service/chistka_dimoxoda@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
              ../../src/images/mobile/additional-service/chistka_dimoxoda@1x.jpg 1x,
              ../../src/images/mobile/additional-service/chistka_dimoxoda@2x.jpg 2x
              "
            />
            <img class="replacement-of-fittings" loading="lazy" src="#" alt="Чищення димоходу" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="../../src/uk-version.html" rel="nofollow noopener noreferrer">
          <h3 class="additional-service__name">Чищення димоходу</h3>
        </a>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Замовити послугу</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
