<div class="footer__contacts">
  <p class="footer__contact-title">Контакты</p>
  <ul class="footer__contact list">
    <li class="footer__contact-item">
      <picture>
        <source media="(min-width: 1440px)" srcset="./images/desktop/footer/phone.png 1x" />
        <source media="(min-width: 768px)" srcset="./images/tablet/footer/phone.png 1x" />
        <source media="(max-width: 767px)" srcset="./images/mobile/footer/phone.png 1x" />
        <img class="phone" src="#" loading="lazy" alt="значек телефона" />
      </picture>
      <a
        href="tel:+380671562638"
        rel="nofollow noopener noreferrer"
        class="footer__contact-link link"
      >
        +38(067) 156 26 38
      </a>
    </li>
    <li class="footer__contact-item">
      <picture>
        <source media="(min-width: 1440px)" srcset="./images/desktop/footer/phone.png 1x" />
        <source media="(min-width: 768px)" srcset="./images/tablet/footer/phone.png 1x" />
        <source media="(max-width: 767px)" srcset="./images/mobile/footer/phone.png 1x" />
        <img class="phone" src="#" loading="lazy" alt="звоните" />
      </picture>
      <a href="tel:0682228557" rel="nofollow noopener noreferrer" class="footer__contact-link link">
        +38(068) 222 85 57
      </a>
    </li>
    <li class="footer__contact-item">
      <picture>
        <source media="(min-width: 1440px)" srcset="./images/desktop/footer/phone.png 1x" />
        <source media="(min-width: 768px)" srcset="./images/tablet/footer/phone.png 1x" />
        <source media="(max-width: 767px)" srcset="./images/mobile/footer/phone.png 1x" />
        <img class="phone" src="#" loading="lazy" alt="звоните" />
      </picture>
      <a href="tel:0732228557" rel="nofollow noopener noreferrer" class="footer__contact-link link">
        +38(073) 222 85 57
      </a>
    </li>
    <li class="footer__contact-item">
      <picture>
        <source media="(min-width: 1440px)" srcset="./images/desktop/footer/phone.png 1x" />
        <source media="(min-width: 768px)" srcset="./images/tablet/footer/phone.png 1x" />
        <source media="(max-width: 767px)" srcset="./images/mobile/footer/phone.png 1x" />
        <img class="phone" src="#" loading="lazy" alt="звоните" />
      </picture>
      <a href="tel:0502228557" rel="nofollow noopener noreferrer" class="footer__contact-link link">
        +38(050) 222 85 57
      </a>
    </li>

    <li class="footer__contact-item">
      <picture>
        <source media="(min-width: 1440px)" srcset="./images/desktop/footer/mail.png 1x" />
        <source media="(min-width: 768px)" srcset="./images/tablet/footer/mail.png 1x" />
        <source media="(max-width: 767px)" srcset="./images/mobile/footer/mail.png 1x" />
        <img class="mail" src="#" loading="lazy" alt="наша почта" />
      </picture>
      <a
        href="mailto:webnorik@com.ua"
        rel="nofollow noopener noreferrer"
        class="footer__contact-link link"
      >
        webnorik@gmail.com
      </a>
    </li>
    <li class="footer__contact-item">
      <picture>
        <source media="(min-width: 1440px)" srcset="./images/desktop/footer/adress.png 1x" />
        <source media="(min-width: 768px)" srcset="./images/tablet/footer/adress.png 1x" />
        <source media="(max-width: 767px)" srcset="./images/mobile/footer/adress.png 1x" />
        <img class="adress" loading="lazy" src="#" alt="адрес местоположения" />
      </picture>
      <p class="footer__adress-description">Украина, г.Днепр<br />ул. Барнаульская 2а</p>
    </li>
  </ul>
</div>

<div class="footer__work-schedule">
  <p class="footer__schedule-title">График работы</p>
  <ul class="footer__work-schedule list">
    <li class="footer__work-schedule-item">
      <picture>
        <source media="(min-width: 1440px)" srcset="./images/desktop/footer/clock.png 1x" />
        <source media="(min-width: 768px)" srcset="./images/tablet/footer/clock.png 1x" />
        <source media="(max-width: 767px)" srcset="./images/mobile/footer/clock.png 1x" />
        <img class="clock" loading="lazy" src="#" alt="время работы" />
      </picture>
      <p class="footer__work-time-description">Пн-Пт: 8:00-18:00<br />Сб, Вс: выходной</p>
    </li>
  </ul>
</div>
