<section class="contacts section">
  <div class="contacts__container container">
    <h1 class="contacts__contact-title">Контакты</h1>
    <div class="contacts__all-contacts__map-wrapper">
      <div class="contacts__all-contacts-wrapper">
        <div class="contacts__wrapper">
          <ul class="contacts__contact-list list">
            <!-- <li class="contacts__contact-item">
              <picture>
                <source media="(min-width: 1440px)" srcset="./images/desktop/footer/phone.png 1x" />
                <source media="(min-width: 768px)" srcset="./images/tablet/footer/phone.png 1x" />
                <source media="(max-width: 767px)" srcset="./images/mobile/footer/phone.png 1x" />
                <img class="phone" src="#" loading="lazy" alt="значек телефона" />
              </picture>
              <a
                href="tel:0671562638"
                rel="nofollow noopener noreferrer"
                class="contacts__contact-link link"
              >
                067 156 26 38
              </a>
            </li> -->
            <li class="contacts__contact-item">
              <picture>
                <source media="(min-width: 1440px)" srcset="./images/desktop/footer/phone.png 1x" />
                <source media="(min-width: 768px)" srcset="./images/tablet/footer/phone.png 1x" />
                <source media="(max-width: 767px)" srcset="./images/mobile/footer/phone.png 1x" />
                <img class="phone" src="#" loading="lazy" alt="звоните" />
              </picture>
              <a
                href="tel:0682228557"
                rel="nofollow noopener noreferrer"
                class="contacts__contact-link link"
              >
                068 222 85 57
              </a>
            </li>
            <li class="contacts__contact-item">
              <picture>
                <source media="(min-width: 1440px)" srcset="./images/desktop/footer/phone.png 1x" />
                <source media="(min-width: 768px)" srcset="./images/tablet/footer/phone.png 1x" />
                <source media="(max-width: 767px)" srcset="./images/mobile/footer/phone.png 1x" />
                <img class="phone" src="#" loading="lazy" alt="звоните" />
              </picture>
              <a
                href="tel:0732228557"
                rel="nofollow noopener noreferrer"
                class="contacts__contact-link link"
              >
                073 222 85 57
              </a>
            </li>
            <li class="contacts__contact-item">
              <picture>
                <source media="(min-width: 1440px)" srcset="./images/desktop/footer/phone.png 1x" />
                <source media="(min-width: 768px)" srcset="./images/tablet/footer/phone.png 1x" />
                <source media="(max-width: 767px)" srcset="./images/mobile/footer/phone.png 1x" />
                <img class="phone" src="#" loading="lazy" alt="звоните" />
              </picture>
              <a
                href="tel:0502228557"
                rel="nofollow noopener noreferrer"
                class="contacts__contact-link link"
              >
                050 222 85 57
              </a>
            </li>
          </ul>

          <ul class="contacts__work-schedule list">
            <li class="contacts__contact-item">
              <picture>
                <source media="(min-width: 1440px)" srcset="./images/desktop/footer/mail.png 1x" />
                <source media="(min-width: 768px)" srcset="./images/tablet/footer/mail.png 1x" />
                <source media="(max-width: 767px)" srcset="./images/mobile/footer/mail.png 1x" />
                <img class="mail" src="#" loading="lazy" alt="наша почта" />
              </picture>
              <a
                href="mailto:webnorik@com.ua"
                rel="nofollow noopener noreferrer"
                class="contacts__contact-link link"
              >
                webnorik@gmail.com
              </a>
            </li>
            <li class="contacts__contact-item">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="./images/desktop/footer/adress.png 1x"
                />
                <source media="(min-width: 768px)" srcset="./images/tablet/footer/adress.png 1x" />
                <source media="(max-width: 767px)" srcset="./images/mobile/footer/adress.png 1x" />
                <img class="adress" loading="lazy" src="#" alt="адрес местоположения" />
              </picture>
              <address class="contacts__adress-description">
                Украина, г.Днепр<br />ул. Барнаульская 2а
              </address>
            </li>
            <li class="contacts__contact-item">
              <picture>
                <source media="(min-width: 1440px)" srcset="./images/desktop/footer/clock.png 1x" />
                <source media="(min-width: 768px)" srcset="./images/tablet/footer/clock.png 1x" />
                <source media="(max-width: 767px)" srcset="./images/mobile/footer/clock.png 1x" />
                <img class="clock" loading="lazy" src="#" alt="время работы" />
              </picture>
              <p class="contacts__work-time-description">Пн-Пт: 8:00-18:00<br />Сб, Вс: выходной</p>
            </li>
          </ul>
        </div>
        <section class="consultation section">
          <div class="container">
            <h2 class="consultation__title" id="consultation__title">Свяжитесь с нами!</h2>
            <div class="success" id="success">Заявка отправлена!</div>
            <form class="consultation__form" id="consultation__form">
              <div class="modal-form__input-wrapper">
                <input
                  class="modal-form__input"
                  minlength="2"
                  type="text"
                  name="username"
                  id="form-username"
                  placeholder="Имя"
                  required
                />
              </div>
              <div class="modal-form__input-wrapper">
                <input
                  class="modal-form__input"
                  type="tel"
                  name="telephon"
                  id="form-telephon"
                  placeholder="Ваш телефон"
                  required
                />
              </div>
              <button class="consultation__form-button" type="submit">Отправить</button>
            </form>
          </div>
        </section>
      </div>
      <div class="contacts__map">
        <a
          href="https://goo.gl/maps/brt5tYadK3wJ41uK6"
          rel="nofollow noopener noreferrer"
          target="_blank"
        >
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/contacts/map_desktop@1x.webp 1x,
                ./images/desktop/contacts/map_desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/contacts/map_desktop@1x.jpg 1x,
                ./images/desktop/contacts/map_desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/contacts/map@1x.webp 1x,
                ./images/tablet/contacts/map@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/contacts/map@1x.jpg 1x,
                ./images/tablet/contacts/map@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/contacts/map@1x.webp 1x,
                ./images/mobile/contacts/map@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/contacts/map@1x.jpg 1x,
                ./images/mobile/contacts/map@2x.jpg 2x
              "
            />
            <img
              class="contacts__map-img"
              loading="lazy"
              src="#"
              alt="Наш адрес: Украина, г.Днепр ул. Барнаульская 2а"
            />
          </picture>
        </a>
      </div>
    </div>
  </div>
</section>
