<section class="blog">
  <div class="container">
    <div class="cards">
      <div class="card">
        <div class="card__image-holder">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/blog/chimney@1x.webp 1x,
                ./images/desktop/blog/chimney@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/blog/chimney@1x.jpg 1x,
                ./images/desktop/blog/chimney@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/desktop/blog/chimney@1x.webp 1x,
                ./images/desktop/blog/chimney@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/desktop/blog/chimney@1x.jpg 1x,
                ./images/desktop/blog/chimney@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/desktop/blog/chimney@1x.webp 1x,
                ./images/desktop/blog/chimney@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/desktop/blog/chimney@1x.jpg 1x,
                ./images/desktop/blog/chimney@2x.jpg 2x
              "
            />
            <img
              class="card__image"
              loading="lazy"
              src="#"
              alt="Чистка дымохода - лучшие способы"
            />
          </picture>
        </div>
        <div class="card-title">
          <a type="button" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>Чистка дымохода - лучшие способы.</h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            Разнообразие методов очистки очень велико, но их можно поделить на три основные группы:
            механические, народные и химические.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="./chistka-dymohoda-luchshie-sposoby.html" class="btn">Читать далее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__image-holder">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/blog/kamin-pech@1x.webp 1x,
                ./images/desktop/blog/kamin-pech@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/blog/kamin-pech@1x.jpg 1x,
                ./images/desktop/blog/kamin-pech@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/desktop/blog/kamin-pech@1x.webp 1x,
                ./images/desktop/blog/kamin-pech@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/desktop/blog/kamin-pech@1x.jpg 1x,
                ./images/desktop/blog/kamin-pech@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/desktop/blog/kamin-pech@1x.webp 1x,
                ./images/desktop/blog/kamin-pech@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/desktop/blog/kamin-pech@1x.jpg 1x,
                ./images/desktop/blog/kamin-pech@2x.jpg 2x
              "
            />
            <img class="card__image" loading="lazy" src="#" alt="Правильная чистка камина" />
          </picture>
        </div>
        <div class="card-title">
          <a type="button" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>Правильная чистка камина.</h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            Камины – особая разновидность печей, которая и по сегодня остается востребованной.
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="./pravilnaya-chistka-kamina.html" class="btn">Читать далее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
