<section class="article section">
  <div class="article container">
    <h2 class="article__title uslugi-pechnika">Услуги печника</h2>
    <div class="article__description">
      <p class="article__description_paragraph">
        Печное оборудование остается актуальным даже в 21 веке, наряду с современными технологиями и
        «умными устройствами». За несколько столетий человечество испробовало несметное количество
        вариаций печных агрегатов, работающих на всех видах топлива – от дров до биотоплива, от угля
        до газа. И среди всего этого разнообразия кирпичная кладка занимает одну из топовых позиций.
        Ведь из кирпича можно оборудовать печь/грубу для отопления двухэтажного дома для большой
        семьи или маленького дачного домика, можно обустроить уютную гостиную с камином или
        соорудить мангал на летнем дворике. Кирпичная возгонка позволяет реализовать любой проект,
        исходя из пожеланий и потребностей заказчика. Главное –
        <strong><em>найти печника</em></strong
        >, который реализует замысел и гарантирует его безопасную работу.
      </p>

      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Творческая профессия – мастер печник</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Печных дел мастера до сих пор ведут спор: кладут печь или ставят? Одни утверждают, что
            если груба/камин/мангал располагается вертикально, то, следовательно, оборудование –
            ставят. Другие твердят, что для создания печного устройства нужно класть кирпичи ряд за
            рядом. А значит, процесс стоит называть кладкой. Кто прав в этом извечном споре – сложно
            сказать, ведь логика есть в обоих утверждениях. Однозначно можно сказать лишь то, что
            создание печи/камина/мангала – это процесс творческий. Несмотря на тот факт, что законы
            физики – основополагающие в этом деле, кладка каждой грубы или камина – все равно
            индивидуальный проект, неповторимый и уникальный в своем роде, выполненный вручную и с
            душой. Не каждый строитель, умеющий класть ровные ряды кирпича, может поставить печь.
            Профессиональный печник отличается от хорошего строителя не только крепкими
            теоретическими знаниями и навыками, но и опытом, который нарабатывается годами. Этот
            особый опыт помогает мастеру на ощупь определить правильную консистенцию глиняного
            раствора, имеющего большое влияние на дальнейшую эффективную и безопасную эксплуатацию
            агрегата. Поэтому при необходимости соорудить печь или камин для обогрева дома или
            приготовления пищи, лучше зразу искать хорошего печника. Собственноручно выполнять эту
            работу новичку не следует, даже при всем изобилии вспомогательной информации и огромной
            уверенности в собственных силах. Печное оборудование – сложная система, которая должна
            реализовываться только квалифицированным специалистом. В противном случае незнание
            тонкостей дела и даже незначительные погрешности могут привести к серьезным последствиям
            – пожару или отравлению чадным газом. Если уж очень хочется проверить свои способности в
            печном деле, то лучше отдать предпочтение созданию небольшого мангала или барбекю. Это
            простые конструкции, располагаемые на улице, поэтому для первых проб являются наиболее
            оптимальными и безопасными.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Печник: услуги широкого спектра</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>

        <div class="chapter__description">
          <p>
            Сегодня печник – это мастер универсальный, который решает целый ряд вопросов связанных с
            обустройством, ремонтом и обслуживанием печного оборудования, дымоходов, а также систем
            вентиляции. Специалиста по
            <a href="./index.html" rel="noopener noreferrer">чистке дымоходов</a> и
            <a href="./chistka-pechi.html" rel="noopener noreferrer">печей</a> –
            <a href="./chimney-sweep-services.html" rel="noopener noreferrer">трубочиста</a> – также
            часто называют печником. Поэтому, в большинстве случаев, к печнику можно обращаться при
            потребности
            <a href="./chistka-grubi.html" rel="noopener noreferrer">почистить грубу</a>,
            <a href="./chistka-kamina.html" rel="noopener noreferrer">камин</a>,
            <a href="./index.html" rel="noopener noreferrer">дымоход</a>, и, наоборот, к трубочисту
            – по вопросам ремонта печи, мангала и т.п.
          </p>
          <p>
            Сегодня трубочист/печник – все также востребованная профессия, которая уже не
            ассоциируется с «чернорабочим». В арсенале современного трубочиста есть не только щетки
            и ерши, но и специальные анализаторы для определения уровня выбросов вредных веществ в
            атмосферу, видеокамеры и тепловизоры для обследования состояния дымохода и отопительной
            системы в целом, различные инструменты для ускорения и улучшения процесса чистки.
          </p>
          <p>
            На <strong><em>услуги печника цены</em></strong> устанавливаются в индивидуальном
            порядке. Конечно, есть ориентировочная стоимость работы, которая устанавливается
            изначально, в зависимости от уровня профессионализма мастера и востребованности
            определенного вида работ. Каждый <strong><em>печник цены</em></strong> может выставлять
            по удобным лично ему нормам. Один специалист выставляет стоимость кладки печи в
            эквиваленте за метр погонный, другой – за количество кирпичей (то есть, цена может быть
            указана за кладку кирпича поштучно). Конечно, поставив не один десяток печей/каминов,
            специалист может назвать полную стоимость проекта. Для этого, достаточно детально
            обсудить все важные моменты: вид работы, объем, сроки, особые пожелания заказчика.
            Договорившись, печник приступает к выполнению заказа.
          </p>

          <p>
            Раньше, когда возникала потребность в услугах печного мастера, люди обращались к
            друзьям, знакомым, соседям с коротким посланием: «ищу печника». И хоть профессия не
            редкая, и печников всегда было по спросу, но каждому хозяину хотелось найти
            профессионала. Искали мастера, которого хвалили другие, работа которого проверенна
            годами. Связано это не только с вопросом безопасности и эффективности печной системы, но
            и с финансами. Ведь стоимость работ не копеечная. Сегодня
            <strong><em>найти печника</em></strong> стало еще проще. Однако поиск квалифицированного
            мастера все также является актуальной проблемой. Основными отличительными признаками
            хорошего печника является наличие информации о нем, фото и видео его работ, а также
            спектр предоставляемых услуг. Любитель, как правило, старается оставаться без
            имени-фамилии, акцентирует внимание на более низкую стоимость выполнения заказа, не
            готов браться за сложные проекты. Такие горе-мастера много говорят, но мало делают.
            Обольстившись возможностью хорошо сэкономить, заказчик подвергается реальной опасности.
            Это может быть не выполненная в срок работа или в целом, или еще хуже – неправильная
            кладка, ремонт или чистка.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Когда вызывать печника?</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>

        <div class="chapter__description">
          <p>
            Хороший <strong><em>печник услуги</em></strong> оказывает круглый год. Сезонность в этой
            сфере также присутствует, однако, универсальность профессионального мастера обеспечивает
            его работой всесезонно. Лето – это пиковый период для кладки устройств. Поэтому, чтобы
            воспользоваться этой услугой, надо договариваться заблаговременно. В разгар сезона
            отпусков у печника расписана каждая минута. Зима для мастера – время, когда он в
            основном выполняет чистку печного оборудования, дымоходов. А в межсезонье
            <strong><em>печник ремонт печи</em></strong> выполняет, облицовку оборудования,
            гильзование дымохода, проверку оборудования перед началом сезона отопления или по его
            завершению. Также его работа – чистка вентиляции, предоставление актов проверки
            вентиляционных каналов.
          </p>
          <p>
            В нашей компании, трубочист, печник (Днепр и область) выполняет следующие виды работ:
          </p>

          <ul>
            <li>
              кладка печи/грубы, кладка камина, мангала (с использованием типовой порядовки или по
              индивидуально разработанному проекту);
            </li>
            <li>кладка кирпичного дымохода;</li>
            <li>монтаж металлического, асбестового дымохода;</li>
            <li>гильзование дымохода;</li>
            <li>ремонт печи, камина, мангала;</li>
            <li>облицовка печного оборудования;</li>
            <li>
              чистка <a href="./chistka-grubi.html" rel="noopener noreferrer">грубы</a>/<a
                href="./chistka-pechi.html"
                rel="noopener noreferrer"
                >печи</a
              >, <a href="./chistka-kamina.html" rel="noopener noreferrer">чистка камина</a>, чистка
              мангала;
            </li>
            <li>
              <a href="./index.html" rel="noopener noreferrer">чистка дымохода</a> (любой
              конструкции и уровня сложности);
            </li>
            <li>установка, чистка твердотопливного котла;</li>
            <li>чистка вентиляции.</li>
          </ul>
          <p>
            Если в выше перечисленном списке нет интересующего пункта или есть любые вопросы к
            печнику/<a href="./chimney-sweep-services.html" rel="noopener noreferrer">трубочисту</a>
            – достаточно позвонить по телефону! Наши мастера проконсультируют по любым вопросам
            касательно обслуживания и эксплуатации печного оборудования.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
