<section class="instruments section">
  <div class="instruments container">
    <h2 class="instruments__title">Используемые инструменты и материалы для чистки дымохода</h2>
    <div class="instruments-wrapper">
      <div class="instruments__block">
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/instruments/vacuum-cleaner.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/instruments/vacuum-cleaner.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/instruments/vacuum-cleaner.jpg 1x"
              />
              <img class="vacuum-cleaner" loading="lazy" src="#" alt="пылесос" />
            </picture>
            <p class="instruments-description-drop">Пылесос</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Пылесос</p>
          </div>
        </div>
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/instruments/sinker.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/instruments/sinker.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/instruments/sinker.jpg 1x"
              />
              <img class="sinker" loading="lazy" src="#" alt="Ёрш с грузилом" />
            </picture>
            <p class="instruments-description-drop">Ёрш с грузилом</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Ёрш с грузилом</p>
          </div>
        </div>
      </div>
      <div class="instruments__block">
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/instruments/brush.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/instruments/brush.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/instruments/brush.jpg 1x"
              />
              <img class="brush" loading="lazy" src="#" alt="Ёрш с ручками" />
            </picture>
            <p class="instruments-description-drop">Ёрш с ручками</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Ёрш с ручками</p>
          </div>
        </div>
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="images/desktop/instruments/ladder.jpg 1x"
              />
              <source media="(min-width: 768px)" srcset="images/tablet/instruments/ladder.jpg 1x" />
              <source media="(max-width: 767px)" srcset="images/mobile/instruments/ladder.jpg 1x" />
              <img class="ladder" loading="lazy" src="#" alt="Лестница" />
            </picture>
            <p class="instruments-description-drop">Лестница</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Лестница</p>
          </div>
        </div>
      </div>
      <div class="instruments__block">
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/instruments/scaffolding.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/instruments/scaffolding.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/instruments/scaffolding.jpg 1x"
              />
              <img class="scaffolding" loading="lazy" src="#" alt="Вышка Тура" />
            </picture>
            <p class="instruments-description-drop">Вышка Тура</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Вышка Тура</p>
          </div>
        </div>
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source media="(min-width: 1440px)" srcset="images/desktop/instruments/film.jpg 1x" />
              <source media="(min-width: 768px)" srcset="images/tablet/instruments/film.jpg 1x" />
              <source media="(max-width: 767px)" srcset="images/mobile/instruments/film.jpg 1x" />
              <img class="film" loading="lazy" src="#" alt="Плёнка" />
            </picture>
            <p class="instruments-description-drop">Плёнка</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Плёнка</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
