<section class="price">
  <div class="price container">
    <h2 class="price__title" id="price">Прайс</h2>
    <ul class="price__list list">
      <li class="price__item">
        <p class="price__item-title">Консультация по телефону</p>
        <div class="price__item-service">
          <p class="price__cost">БЕСПЛАТНО</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="price__item">
        <p class="price__item-title">Выезд на объект с визуальным обследованием дымохода</p>
        <div class="price__item-service">
          <p class="price__cost">600 грн</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="price__item">
        <p class="price__item-title">Чистка вертикального участка дымохода диаметром до 150 мм</p>
        <div class="price__item-service">
          <p class="price__cost">от 200 грн</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="price__item">
        <p class="price__item-title">Удаление завалов, в дымоходе или вентиляционном канале</p>
        <div class="price__item-service">
          <p class="price__cost">от 1000 грн</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="price__item">
        <p class="price__item-title">Акт обследования и чистки дымохода (акт печника)</p>
        <div class="price__item-service">
          <p class="price__cost">от 800 грн</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="price__item">
        <p class="price__item-title">Пробивание дымохода</p>
        <div class="price__item-service">
          <p class="price__cost">от 1000-1500 грн</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
