<section class="advantage">
    <div class="advantage container">
    <div class="advantage-padding">
<h2 class="advantage-title">Чому вибирають саме нас?</h2>
<ul class="advantage-list list">
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>    
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_clean@1x.webp 1x,
                ./images/desktop/advantage/icon_clean@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_clean@1x.png 1x,
                ./images/desktop/advantage/icon_clean@2x.png 2x"/>
                
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_clean@1x.webp 1x,
                ./images/tablet/advantage/icon_clean@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_clean@1x.png 1x,
                ./images/tablet/advantage/icon_clean@2x.png 2x"/>

                <source media="(max-width: 768px)"
                 srcset="./images/mobile/advantage/icon_clean@1x.webp 1x,
                ./images/mobile/advantage/icon_clean@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 768px)" 
                srcset="./images/mobile/advantage/icon_clean@1x.png 1x,
                ./images/mobile/advantage/icon_clean@2x.png 2x"/>
                 
                <img class="icon_clean width" loading="lazy" src="#" alt="очищення димоходу значок" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Чищення димаря будь-якої складності</h3>
            <p class="advantage-description">Наявність необхідного інвентарю для здійснення якісного очищення димоходів, вентиляційних шахт, котлів, камінів та печей.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_roof@1x.webp 1x,
                ./images/desktop/advantage/icon_roof@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_roof@1x.png 1x,
                ./images/desktop/advantage/icon_roof@2x.png 2x"/>
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_roof@1x.webp 1x,
                ./images/tablet/advantage/icon_roof@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_roof@1x.png 1x,
                ./images/tablet/advantage/icon_roof@2x.png 2x"/>
                <source media="(max-width: 767px)"
                 srcset="./images/mobile/advantage/icon_roof@1x.webp 1x,
                ./images/mobile/advantage/icon_roof@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/advantage/icon_roof@1x.png 1x,
                ./images/mobile/advantage/icon_roof@2x.png 2x"/>            
                 
                <img class="icon_roof width" loading="lazy" src="#" alt="значок даху" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Без доступу на дах</h3>
            <p class="advantage-description">Ми використовуємо механічне чищення димарів за принципом «знизу нагору», коли процес чищення неможливо виконати зовні.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_human@1x.webp 1x,
                ./images/desktop/advantage/icon_human@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_human@1x.png 1x,
                ./images/desktop/advantage/icon_human@2x.png 2x"/>
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_human@1x.webp 1x,
                ./images/tablet/advantage/icon_human@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_human@1x.png 1x,
                ./images/tablet/advantage/icon_human@2x.png 2x"/>
                <source media="(max-width: 767px)"
                 srcset="./images/mobile/advantage/icon_human@1x.webp 1x,
                ./images/mobile/advantage/icon_human@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/advantage/icon_human@1x.png 1x,
                ./images/mobile/advantage/icon_human@2x.png 2x"/>
                
                <img class="icon_human width" loading="lazy" src="#" alt="значок людини" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Безкоштовна консультація</h3>
            <p class="advantage-description">Дізнатися попередню вартість робіт можна в розділі “Прайс”, а також уточнити всі питання, що вас цікавлять, у телефонному режимі.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_key@1x.webp 1x,
                ./images/desktop/advantage/icon_key@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_key@1x.png 1x,
                ./images/desktop/advantage/icon_key@2x.png 2x"/>
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_key@1x.webp 1x,
                ./images/tablet/advantage/icon_key@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_key@1x.png 1x,
                ./images/tablet/advantage/icon_key@2x.png 2x"/>
                <source media="(max-width: 767px)"
                 srcset="./images/mobile/advantage/icon_key@1x.webp 1x,
                ./images/mobile/advantage/icon_key@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/advantage/icon_key@1x.png 1x,
                ./images/mobile/advantage/icon_key@2x.png 2x"/> 
                
                <img class="icon_key width" loading="lazy" src="#" alt="значок ключа" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">“Під ключ”</h3>
            <p class="advantage-description">Консультація професійного пічника про стан димоходу та опалювального обладнання, вибір оптимального варіанта чищення димоходу.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_quality@1x.webp 1x,
                ./images/desktop/advantage/icon_quality@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_quality@1x.png 1x,
                ./images/desktop/advantage/icon_quality@2x.png 2x"/>
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_quality@1x.webp 1x,
                ./images/tablet/advantage/icon_quality@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_quality@1x.png 1x,
                ./images/tablet/advantage/icon_quality@2x.png 2x"/>
                <source media="(max-width: 767px)"
                 srcset="./images/mobile/advantage/icon_quality@1x.webp 1x,
                ./images/mobile/advantage/icon_quality@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/advantage/icon_quality@1x.png 1x,
                ./images/mobile/advantage/icon_quality@2x.png 2x"/>            
                 
                <img class="icon_quality width" loading="lazy" src="#" alt="гарантія якості значок" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Гарантія</h3>
            <p class="advantage-description">Одним із показників якості виконаних робіт є гарантія – 1 рік безпечної та безперебійної працездатності будь-яких каналів.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_money@1x.webp 1x,
                ./images/desktop/advantage/icon_money@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_money@1x.png 1x,
                ./images/desktop/advantage/icon_money@2x.png 2x"/>
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_money@1x.webp 1x,
                ./images/tablet/advantage/icon_money@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_money@1x.png 1x,
                ./images/tablet/advantage/icon_money@2x.png 2x"/>
                <source media="(max-width: 767px)"
                 srcset="./images/mobile/advantage/icon_money@1x.webp 1x,
                ./images/mobile/advantage/icon_money@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/advantage/icon_money@1x.png 1x,
                ./images/mobile/advantage/icon_money@2x.png 2x"/>            
                
                <img class="icon_money width" loading="lazy" src="#" alt="значок грошей" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Прийнятні ціни</h3>
            <p class="advantage-description">Вартість робіт від 100 грн/м. при механічному чищенні.</p>
        </div>
    </li>
</ul>
</div>
</section>