<section class="article section">
  <div class="article container">
    <h2 class="article__title">Як почистити димар</h2>
    <div class="article__description">
      <p class="article__description_paragraph">
        Питання про необхідність чищення димаря зазвичай виникає в той момент, коли щось починає
        бентежити або насторожувати. Тобто виникли якісь проблеми з виведенням продуктів горіння
        (докладніше див. мал. 1). Димар – це конструкція, призначена для відведення димових газів
        від теплогенератора. Генератором тепла зазвичай є піч, камін або котел. І робота димоходу
        безпосередньо залежить від стану агрегату, який перетворює паливо на тепло. Тому часто
        виникає питання: який спеціаліст займається обслуговуванням димоходів та теплогенеруючого
        обладнання? Чи це два різні майстри?
      </p>
      <div class="img__problems_wrapper">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/article/img_desktop_ua@1x.webp 1x,
              ./images/desktop/article/img_desktop_ua@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/article/img_desktop_ua@1x.jpg 1x,
              ./images/desktop/article/img_desktop_ua@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/article/img_tablet_ua@1x.webp 1x,
              ./images/tablet/article/img_tablet_ua@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/article/img_tablet_ua@1x.jpg 1x,
              ./images/tablet/article/img_tablet_ua@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 768px)"
            srcset="
              ./images/mobile/article/img_mobile_ua@1x.webp 1x,
              ./images/mobile/article/img_mobile_ua@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./images/mobile/article/img_mobile_ua@1x.jpg 1x,
              ./images/mobile/article/img_mobile_ua@2x.jpg 2x
            "
          />

          <img
            class="img__problems"
            loading="lazy"
            src="#"
            alt="Проблеми з відведенням димових газів через димар"
          />
        </picture>
      </div>
      <p class="img__problems_description">
        Мал.1 Проблеми з відведенням димових газів через димар
      </p>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Послуги пічника та професійне чищення димоходів</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Спеціаліст по боротьбі із сажею та іншими засміченнями в димарі, називається
            <strong>сажотрус</strong>. Його основні завдання – перевірка та
            <strong>чищення димаря</strong> печі або каміна. Він є не тільки сміливою людиною, яка
            не боїться «чорної» роботи, а й експертом у сфері продуктів горіння. З моменту появи
            твердопаливних та газових котлів, сажотруси займаються обслуговуванням димових каналів і
            цих агрегатів також. Тому чищення топки котла – робота для сажотрусу.
          </p>
          <p>
            <strong>Пічник</strong> – це майстер, який займається кладкою та ремонтом печей, груб,
            камінів. Однак сьогодні до пічника прийнято звертатися за допомогою у вирішенні цілої
            низки проблем, які можуть і не стосуватися печей та камінів. Сучасний пічник – це вже
            універсальний фахівець, який має навички і сажотруса, і майстра з ремонту котлів.
            Професійний пічник готовий надати широкий спектр послуг. Серед основних:
          </p>
          <ul>
            <li>монтаж, ремонт, обслуговування твердопаливних котлів;</li>
            <li>встановлення, ремонт та обслуговування газових котлів, колонок;</li>
            <li>чищення будь-яких димарів;</li>
            <li>чищення вентиляційних каналів;</li>
            <li>чищення теплообмінників газових/твердопаливних котлів;</li>
            <li>чищення печей, груб, камінів, і навіть чищення мангалів.</li>
          </ul>
          <p>
            Тому вирішити проблему із димарем може і хороший пічник, і досвідчений сажотрус. Головне
            – знати номер кваліфікованого спеціаліста.
          </p>
          <p>
            Професійний сажотрус точно знає, <strong><i>чим можна прочистити димар</i></strong
            >, коли і як це зробити. Адже методів та засобів існує багато. Обрати відповідний
            <strong><i>засіб для чищення димоходу</i></strong> можна самостійно, але не варто при
            цьому орієнтуватися лише на ціну, чужу пораду чи припущення. Обслуговування димоходів та
            обладнання – не така проста справа, як може здатися на перший погляд.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <h3 class="chapter__title">Як обрати засіб для чищення димоходу та котла?</h3>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img
                class="img__problems_arrows-down"
                loading="lazy"
                src="#"
                alt="тисни на стрілку"
              />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Отже, приємне і таке необхідне тепло, яке отримується внаслідок процесу горіння, має
            зворотній бік. При згорянні будь-якого палива утворюються побічні продукти. Гарячий дим,
            "відлітаючи в трубу" (димохід), залишає чорний наліт. Цей в'їдливий чорний шар
            називається кіптявою. А сажа – це власне багато шарів кіптяви, що осіли на поверхні.
            Принципова <strong><i>різниця між сажею і кіптявою</i></strong> полягає в тому, що сажа
            може загорітися. Тому дуже важливо регулярно чистити сажу та запобігати її зайвому
            накопиченню.
          </p>
          <p>
            Профілактика сажоутворення починається із правильної організації опалювальної системи.
            Умовно можна виділити такі етапи:
          </p>
          <ul>
            <li>вибір та встановлення відповідного обладнання;</li>
            <li>якісна кладка печі/каміну;</li>
            <li>професійний <strong>монтаж димоходу</strong>.</li>
          </ul>
          <p>
            Але перелічені вище етапи – лише половина успіху. Дотримання правил експлуатації та
            регулярне обслуговування – запорука довготривалої та безпечної роботи опалювальної
            системи.
          </p>
          <p>
            <strong><i>Засіб для видалення сажі та кіптяви</i></strong> обирається залежно від
            поточного стану димоходу та типу обладнання (адже
            <strong>чищення газового котла/колонки</strong> та чищення каміна принципово
            відрізняються). Швидко та безпомилково оцінити ситуацію та визначити найбільш
            задовільний спосіб боротьби із «відкладеннями» може лише професійний пічник. Його
            експертний погляд знадобиться навіть у тому випадку, якщо чищення планується проводити
            власними силами. Консультація допоможе уникнути грубих помилок за рахунок правильного
            підбору засобів, методів та роз'яснення, що в якійсь послідовності необхідно виконувати.
          </p>
          <p>
            <strong><i>Сажотрус для чищення димоходу</i></strong> використовує, як правило,
            спеціальні щітки та йоржі, тому що механічний спосіб видалення засмічень є найбільш
            затребуваним. Це пов'язано, перш за все, з тим, що власники не регулярно вдаються до
            цієї процедури. А відтак величезні шари сажі, що утворилися на стінках агрегатів і
            димоходів, можна видалити лише доклавши чималих зусиль.
          </p>
          <p>
            Для боротьби з в’їдливими відкладеннями механічним методом потрібні наступні
            інструменти:
          </p>
          <ul>
            <li>
              <strong>спеціальний йорж</strong>, діаметр якого на 20% більше за діаметр димаря;
            </li>
            <li>
              подовжувачі для йоржа: сталевий трос
              <strong>та обтяжувач для чищення зверху вниз</strong>,
              <strong>гнучкі палиці при чищенні знизу вгору</strong>;
            </li>
            <li>дриль чи перфоратор для прискорення процесу за можливості;</li>
            <li>ємність для збору забруднень або будівельний пилосос;</li>
            <li>захисні засоби, що допоможуть запобігти осіданню сажі на навколишніх поверхнях.</li>
          </ul>
          <p>
            Крім того, при організації такого заходу необхідно подбати не тільки про те,
            <strong><i>чим чистити димар</i></strong
            >, але і як зробити це безпечно. Сходи, страхувальні троси – обов'язкові засоби безпеки
            для механічного чищення зверху вниз, тобто коли доступ до димоходу здійснюється з даху
            будівлі.
          </p>
          <div class="chapter__block">
            <p class="chapter__block_description">
              Якщо серед інвентаря немає спец. засобів для таких робіт, то в жодному разі не
              потрібно використовувати саморобні щітки та йоржи з підручних матеріалів. Не можна
              застосовувати гантелі або інші предмети, що трапилися під руку, як обтяжувачі. В
              іншому випадку можна зруйнувати димохідну кладку або додати до засмічень ще й
              обтяжувач, що «не пройшов» (див. мал. 2). Нерідко пічнику доводиться виконувати
              <strong>ремонт печі</strong> саме після невдалого самостійного чищення.
            </p>
            <div class="chapter__img_wrapper">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./images/desktop/article/girya@1x.webp 1x,
                    ./images/desktop/article/girya@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./images/desktop/article/girya@1x.jpg 1x,
                    ./images/desktop/article/girya@2x.jpg 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/desktop/article/girya@1x.webp 1x,
                    ./images/desktop/article/girya@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/desktop/article/girya@1x.jpg 1x,
                    ./images/desktop/article/girya@2x.jpg 2x
                  "
                />

                <source
                  media="(max-width: 768px)"
                  srcset="
                    ./images/desktop/article/girya@1x.webp 1x,
                    ./images/desktop/article/girya@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 768px)"
                  srcset="
                    ./images/desktop/article/girya@1x.jpg 1x,
                    ./images/desktop/article/girya@2x.jpg 2x
                  "
                />

                <img
                  class="chapter__img"
                  loading="lazy"
                  src="#"
                  alt="Саморобний вантаж для димоходу"
                />
              </picture>
              <p class="img__problems_description">Мал.2 Саморобний вантаж для димоходу</p>
            </div>
          </div>
          <p>
            Єдине вірне рішення для початківців-«сажотрусів» у такій ситуації – придбатити якісний
            та призначений саме для цього інвентар. Це буде набагато дешевше, ніж непередбачуваний
            ремонт або додаткові послуги сажотруса. І, звичайно, обзавівшись усім необхідним для
            боротьби із засміченнями власноруч, або звертаючись за допомогою до сажотруса, головне
            це робити регулярно. Орієнтуватися можна на наступні рекомендації:
          </p>

          <ul>
            <li>
              <strong>чищення печі/груби</strong> повинно проводитись двічі за період опалення (на
              початку та наприкінці сезону);
            </li>
            <li><strong>чищення каміна</strong> може здійснюватися один раз на рік;</li>
            <li>
              <strong>чищення вентиляції</strong> проводиться кожні півроку при використанні
              примусових систем, або раз на два роки для природних систем;
            </li>
            <li>
              <strong>Чищення твердопаливних котлів</strong> потрібно проводити набагато частіше –
              раз на два-три місяці, щоб уникнути перевитрати сировини, прогорання стінок агрегату,
              запобігти зниженню його ефективності.
            </li>
          </ul>
          <p>
            Відповідно, <strong>чищення димоходу</strong>, а точніше частота проведення цієї
            процедури, безпосередньо залежатиме від пристрою, сировини та термінів експлуатації
            системи.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div><h3 class="chapter__title">Хімічний очисник сажі</h3></div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img
                class="img__problems_arrows-down"
                loading="lazy"
                src="#"
                alt="тисні на стрілку"
              />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Якщо ситуація не доведена ще до критичного стану, можна використовувати хімічний
            <strong><i>засіб для видалення сажі з димоходів</i></strong> (див. мал.3). Спалюючи
            разом з сировиною спеціальні каталізуючі речовини, можна домогтися вигоряння смолистих
            речовин і сажі, за рахунок зниження температури, необхідної для їхнього розпаду.
            Додавання таких гранул, брикетів допомагає очистити стінки теплообмінника
            твердопаливного котла та димоходу, що, в свою чергу, покращує роботу опалювальної
            установки, підвищує її ефективність.
          </p>
          <div class="img__problems_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/cleaning-products@1x.webp 1x,
                  ./images/desktop/article/cleaning-products@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/cleaning-products@1x.jpg 1x,
                  ./images/desktop/article/cleaning-products@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/cleaning-products@1x.webp 1x,
                  ./images/tablet/article/cleaning-products@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/cleaning-products@1x.jpg 1x,
                  ./images/tablet/article/cleaning-products@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/cleaning-products@1x.webp 1x,
                  ./images/mobile/article/cleaning-products@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/cleaning-products@1x.jpg 1x,
                  ./images/mobile/article/cleaning-products@2x.jpg 2x
                "
              />

              <img
                class="img__problems"
                loading="lazy"
                src="#"
                alt="Засоби для видалення сажі з димоходів"
              />
            </picture>
          </div>
          <p class="img__problems_description">Мал.3 Засоби для видалення сажі з димоходів</p>
          <p>
            Оброблені каталітичним складом поліна використовують як
            <strong><i>засіб для чищення камінів</i></strong
            >, печей, мангалів. Підкидаючи їх у вогонь регулярно, можна насолоджуватися теплом та
            затишком біля каміна/печі тривалий час без клопоту та шкоди для приміщення, а також
            готувати смачні страви на мангалі. Не зайвим буде ще раз звернути увагу на те, що
            хімічний метод очищення підходить більше як профілактична міра, регулярний догляд.
            Застосовувати хімічний засіб як <strong><i>очисник від сажі</i></strong
            >, яка закрила практично весь просвіт димаря – погана ідея. У результаті хімічної
            реакції великі шматки відкладень можуть просто відвалюватися і тим самим забивати
            димовідвідний канал, повністю перекривати його. Об'ємні засмічення при дії каталізатора
            можуть навіть спалахнути і стати причиною пожежі. Тому розраховувати на легке видалення
            складних «нальотів» не варто.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <h3 class="chapter__title">Бюджетний засіб для чищення димоходу від сажі</h3>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img
                class="img__problems_arrows-down"
                loading="lazy"
                src="#"
                alt="тисні на стрілку"
              />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Коли немає можливості скористатись послугами сажотруса або придбати
            <strong><i>засіб для чищення димаря</i></strong
            >, на допомогу приходять народні методи. Актуальність будь-якого з них залежить від
            ситуації. Наприклад, картопляне лушпиння, а часом і просто нарізану бульбу, пропонують
            використовувати як найпростіший та заощадливий
            <strong><i>засіб для чищення печей від сажі</i></strong
            >. Закидаючи в топку ці харчові відходи, які є в кожній хаті, можна заразом і про димар
            подбати. Варто обмовитися лише про те, що робити так треба постійно, лушпиння додавати
            більше (від піввідра за раз), і очікувати миттєвого результату не потрібно. Ще один
            продукт – сіль – також позиціонується як <strong><i>очищувач димоходу</i></strong
            >. Використовуючи дрова, як сировини, їх можна попередньо посипати сіллю. Це позбавляє
            від зайвої вологи, а також допомагає руйнувати шари сажі, що утворилися. А ось осикові
            поліна і шкаралупу волоських горіхів застосовувати як
            <strong><i>очищувач димаря від сажі</i></strong> необхідно під пильним контролем. Адже
            вони сприяють збільшенню температури горіння, що може стати причиною займання тих самих
            відкладень у димарі. А щоб <strong>почистити димар у лазні</strong>, вдаються до
            простого розпалювання без будь-яких добавок.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <h3 class="chapter__title">Сажотрус – засіб для чищення димарів №1</h3>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img
                class="img__problems_arrows-down"
                loading="lazy"
                src="#"
                alt="тисні на стрілку"
              />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Перед початком кожного опалювального сезону, а також перед розпалом системи, що
            використовується час від часу, необхідно проводити ревізію. Чистити попільник,
            перевіряти димар на наявність сторонніх предметів (листя, гілок, птахів тощо), оглядати
            димар ззовні для своєчасного усунення тріщин (див. мал.4), елементів конструкції, що
            прогоріли, та інших дефектів, визначати необхідність капітального чищення і обирати
            доречний <strong><i>очищувач димоходу від сажі</i></strong> на майбутній період
            опалення.
          </p>
          <div class="img__problems_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/ruined-chimney@1x.webp 1x,
                  ./images/desktop/article/ruined-chimney@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/ruined-chimney@1x.jpg 1x,
                  ./images/desktop/article/ruined-chimney@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/ruined-chimney@1x.webp 1x,
                  ./images/tablet/article/ruined-chimney@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/ruined-chimney@1x.jpg 1x,
                  ./images/tablet/article/ruined-chimney@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/ruined-chimney@1x.webp 1x,
                  ./images/mobile/article/ruined-chimney@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/ruined-chimney@1x.jpg 1x,
                  ./images/mobile/article/ruined-chimney@2x.jpg 2x
                "
              />

              <img class="img__problems" loading="lazy" src="#" alt="Проблеми з димарем" />
            </picture>
          </div>
          <p class="img__problems_description">Мал.4 Проблеми з димарем</p>
          <p>
            Власник котла, печі або каміна може підтримувати чистоту та порядок обладнання
            власноруч, якщо на це є час і процес не завдає значних незручностей.
          </p>
          <p>
            Звичайно, найефективніше та найнадійніше рішення – звернутися за допомогою до фахівця
            цієї справи. Однак слід пам'ятати, що за свої <strong>послуги пічник</strong> не може
            попросити низьку плату. Якщо ж хтось обіцяє виконати такий складний та непростий процес
            за «три копійки», варто засумніватися у професіоналізмі виконавця та не довіряти йому
            власне життя.
          </p>
          <p>
            І в той же час, провівши навіть грандіозне чищення опалювальної установки, не варто
            відмовлятися від використання допоміжних засобів для догляду за димарем та обладнанням.
            <strong><i>Чим прочистити димар від сажі</i></strong
            >, яка з'явиться в найкоротші терміни після початку опалювального сезону, залежить від
            особистих вподобань: хімічними засобами для чищення або терпінням та картопляним
            лушпинням. Головне, щоб <strong><i>засіб для чищення димоходів</i></strong> не обирався
            як більш дешевий спосіб чищення замість якісної, професійної послуги від досвідченого
            сажотруса. Адже чищення димових та вентиляційних каналів, а також котлів, печей та
            камінів – це не лише позбавлення від непотрібного скупчення сажі та кіптяви, а й
            недопущення зайвих витрат на сировину, запобігання пожежонебезпечній ситуації, гарантія
            безпеки.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
