<section class="video-blog section">
  <div class="container">
    <h2 class="video-blog__title">Процес чищення димоходу та котла від фахівців</h2>

    <ul class="video-blog__list list">
      <li class="video video1">
        <a data-youtube href="https://www.youtube.com/watch?v=K1YFHhPq7rc">
          Супер Чистка Димохода Дніпро або ЯК ЧИЩИТЬ ПІЧНИК ДИМОХІД!!!
        </a>
      </li>
      <!-- <li class="video video2">
        <a data-youtube href="https://www.youtube.com/watch?v=l3wK1RkvVhI">
          Чистка димоходу Дніпро
        </a>
      </li> -->
      <li class="video video3">
        <a data-youtube href="https://www.youtube.com/watch?v=VbUIjAZe3MU">
          Чистка Димоходу Торнадо
        </a>
      </li>
      <!-- <li class="video video4">
        <a data-youtube href="https://www.youtube.com/watch?v=kRR06SFB7Qg">
          Супер Чистка Димаря Колонки
        </a>
      </li> -->
    </ul>
  </div>
</section>
