<section class="article section">
  <div class="article container">
    <h2 class="article__title pechi_ua">Як почистити піч від сажі</h2>
    <div class="article__description">
      
      <p class="article__description_paragraph">
        Сьогодні для опалення приміщень, приготування їжі, а також термічної обробки різних матеріалів використовують різні пристрої та агрегати. Вони можуть бути електричними, газовими та твердопаливними. Побутовими та промисловими, громіздкими та мініатюрними, стаціонарними та мобільними. І в той же час, є універсальний пристрій, за допомогою якого можна і будинок опалити, і смачну вечерю приготувати, і навіть маленький сімейний бізнес організувати. Називається цей пристрій піччю.</p>

      
      <div class="chapter">
        <div class="chapter__title_wrapper">          
            <h3 class="chapter__title">Різновиди печей </h3>
          
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.webp 1x,
                ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.png 1x,
                ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/arrow-down@1x.webp 1x,
                ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
./images/tablet/article/arrow-down@1x.png 1x,
./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
./images/mobile/article/arrow-down@1x.webp 1x,
./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
./images/mobile/article/arrow-down@1x.png 1x,
./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="тисні на стрілку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Піч – це узагальнююча назва цілого ряду пристосувань та конструкцій, які можуть кардинально відрізнятися за своїми параметрами, матеріалом виготовлення, призначенням та способом застосування. Поєднує їх історія виникнення та мета створення. Наприклад, перші земляні печі були ще у стародавньому Римі (кілька століть до нашої ери). А в середні віки нашої ери печі вже були не просто функціональною конструкцією, а витвором мистецтва (див. мал. 1). 
          </p>
          <div class="img__problems_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/pechi_desktop@1x.webp 1x,
                ./images/desktop/article/pechi_desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/pechi_desktop@1x.jpg 1x,
                ./images/desktop/article/pechi_desktop@2x.jpg 2x
                "
              />
    
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/pechi_tablet@1x.webp 1x,
                ./images/tablet/article/pechi_tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/pechi_tablet@1x.jpg 1x,
                ./images/tablet/article/pechi_tablet@2x.jpg 2x
                "
              />
    
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/pechi_mobile@1x.webp 1x,
                ./images/mobile/article/pechi_mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/pechi_mobile@1x.jpg 1x,
                ./images/mobile/article/pechi_mobile@2x.jpg 2x
                "
              />
    
              <img class="img__problems" loading="lazy" src="#" alt="Печі як витвор мистецтва " />
            </picture>
          </div>
          <p class="img__problems_description">Мал.1 Печі як витвор мистецтва</p>
          <p>
            За призначенням печі можна умовно поділити на дві категорії: промислові та побутові. Перші призначені для випікання хліба, плавки металів, випалу керамічних виробів у виробничих масштабах. Пічки для побутового використання можуть служити або тільки для опалення приміщень, або виключно для приготування їжі, або для обігріву та приготування одночасно.
          </p>
          <p>За матеріалом виготовлення печі бувають: цегляні, кам'яні, глиняні та металеві (див. мал. 2).</p>
          <div class="img__problems_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/pechi_desktop1@1x.webp 1x,
                ./images/desktop/article/pechi_desktop1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/pechi_desktop1@1x.jpg 1x,
                ./images/desktop/article/pechi_desktop1@2x.jpg 2x
                "
              />
    
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/pechi_tablet1@1x.webp 1x,
                ./images/tablet/article/pechi_tablet1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/pechi_tablet1@1x.jpg 1x,
                ./images/tablet/article/pechi_tablet1@2x.jpg 2x
                "
              />
    
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/pechi_mobile1@1x.webp 1x,
                ./images/mobile/article/pechi_mobile1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/pechi_mobile1@1x.jpg 1x,
                ./images/mobile/article/pechi_mobile1@2x.jpg 2x
                "
              />
    
              <img class="img__problems" loading="lazy" src="#" alt="різновид пічей" />
            </picture>
          </div>
          <p class="img__problems_description">Мал.2 1-цегляна пічь, 2-кам'яні пічь, 3-глиняна пічь, 4-металева пічь</p>
          <p>З чавуну та сталі виробляють металевий різновид печей, які частіше називають буржуйками. Це невеликі, прості конструкції, що складаються, власне, з камери горіння та димохідної труби. Найчастіше димохід прикріплюється збоку, щоб верхня частина могла використовуватися як варильна поверхня. Популярність таких печей викликана нехитрою конструкцією, яку легко виготовити самостійно, а також можливістю встановлювати агрегат практично в будь-якому приміщенні (навіть у бліндажах, вагонах, землянках тощо).
          </p>
          <p>До цієї категорії печей можна зарахувати піч Франкліна, яка фактично є чавунним каміном.</p>
          <p>Відмінною рисою глиняних печей є доступність та дешевизна матеріалу виготовлення, невеликі розміри та простота конструкції. Найбільш відомий приклад печі із глини – помпейська піч. Це невелика купольна споруда з прямим димарем, єдине призначення якої – приготування їжі.</p>
          <p>
            Кам'яні печі не набули великої популярності та широкого застосування через свою специфічність. Процес кладки такої печі дуже трудомісткий, вимагає наявності каміння різного розміру, а загалом конструкція виходить дуже важкою і громіздкою. 
            </p>
          <p>Кладка печі з цегли – найпопулярніший спосіб облаштування опалювальної системи спільно з організацією місця для приготування їжі. Цегла дозволяє створити пічну конструкцію максимально зручної форми та розміру. Цегляна кладка дає можливість реалізувати індивідуальний проект, який буде надійним, довговічним та практичним. Піч із цегли може виконуватися в різних варіаціях (див. мал. 3).</p>
          <div class="img__problems_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/gryba_desktop@1x.webp 1x,
                ./images/desktop/article/gryba_desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/gryba_desktop@1x.jpg 1x,
                ./images/desktop/article/gryba_desktop@2x.jpg 2x
                "
              />
    
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/gryba_tablet@1x.webp 1x,
                ./images/tablet/article/gryba_tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/gryba_tablet@1x.jpg 1x,
                ./images/tablet/article/gryba_tablet@2x.jpg 2x
                "
              />
    
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/gryba_mobile@1x.webp 1x,
                ./images/mobile/article/gryba_mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/gryba_mobile@1x.jpg 1x,
                ./images/mobile/article/gryba_mobile@2x.jpg 2x
                "
              />
    
              <img class="img__problems" loading="lazy" src="#" alt="Типи печей: 1 - Шведка, 2 - Голландка, 3 - Піч Утермарка, 4 - Груба" />
            </picture>
          </div>
          <p class="img__problems_description">Мал.3 Типи печей: 1 - Шведка, 2 - Голландка, 3 - Піч Утермарка, 4 - Груба</p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <h3 class="chapter__title">Як очистити цегляну піч від сажі</h3>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.webp 1x,
                ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.png 1x,
                ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/arrow-down@1x.webp 1x,
                ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
              ./images/tablet/article/arrow-down@1x.png 1x,
              ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/arrow-down@1x.webp 1x,
                ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/arrow-down@1x.png 1x,
                ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="тисні на стрілку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Будь-яка піч потребує догляду. В іншому випадку можна замість тепла та затишку отримати масу неприємностей та проблем. Піч, як і будь-який пристрій, працює відповідно до свого поточного стану. Тому чищення – запорука тривалої та ефективної роботи пічного обладнання. Процес обслуговування можна поділити на три основні етапи. 
          </p>
          <p><em>Повсякденні обов'язки господаря печі</em></p>
          <p>
            Використовуючи пічне опалення, основне завдання господаря будинку – вибір та заготівля сировини. Його якість буде сильно позначатися на зручності процесу топки, а також ступені утворення кіптяви та сажі в системі. Тому не зайвим буде знати, <strong><em>як почистити пічку в приватному будинку</em></strong> народними засобами. Сіль, картопляне лушпиння, горіхова шкаралупа чи осикові поліна – допоміжні засоби для чищення печі, які доступні практично будь-якому власнику печі.
          </p>
          <p>Перед кожною топкою обов'язково вичищати попіл. Навіть якщо здається, що його зовсім небагато. Попіл заважає притоку повітря. Його «запаси» заважають розпалюванню, погіршують процес горіння, знижують ККД опалювальної системи, сприяють прогоранню колосників та інших елементів печі.</p>
          <p>Також власник пічки повинен постійно оглядати конструкцію та стежити за її роботою. Це потрібно для своєчасного виявлення проблем та їх усунення. Залежно від ситуації може знадобитися допомога фахівців.
          </p>
          <p><em>Послуги сажотруса</em></p>
          <p>Сажа – це побічний продукт горіння, який потрібно регулярно видаляти. Відкладення сажі перешкоджають відведенню димових газів. Це одразу позначається на тязі в димових каналах, збільшує витрату сировини, і може спричинити пожежу. Боротися з сажею допомагає сажотрус. До нього варто звертатися у разі виникнення таких проблем:</p>
          <ul>
            <li>складності з розпалюванням або згасання полум'я;</li>
            <li>задимленість приміщення, осідання кіптяви на навколишніх поверхнях, утворення патьоків з-під дверцят;
            </li>
            <li>зниження температури обігріву приміщення або значне збільшення витрат сировини на досягнення того ж температурного режиму;</li>
            <li>погіршення самопочуття мешканців із початком використання печі.</li>
          </ul>
          <p>Сажотрус зможе якісно очистити димохід та пічне обладнання методом механічного чищення. У його арсеналі є спеціальні щітки та йоржі, а також різні подовжувачі та обтяжувачі, за допомогою яких здійснюється видалення сажі у кожному куточку внутрішнього простору печі. Також досвідчений спеціаліст зможе організувати правильний процес чищення за відсутності спеціальних отворів для чищення пічних каналів. Звичайно, для цього доведеться в деяких місцях розібрати кладку і демонтувати облицювання пічки. Однак це єдине вірне рішення в такій ситуації. Не варто віддавати перевагу сумнівним та небезпечним інтернет-рекомендаціям на кшталт <strong><em>«як чистити колодязі в печі використовуючи гас»</em></strong> або «як зробити йорж для чищення димаря з підручних матеріалів». Подібні експерименти можуть коштувати набагато дорожче.</p>
          <p>Ще сажотрус роз'яснить,<strong><em> як почистити піч від сажі</em></strong> хімічним методом. Точніше, як підтримувати чистоту, безпечно використовуючи хім. очищувачі.</p>
          <p><em>Послуги пічника</em></p>
          <p>При виявленні тріщин у кладці печі або димаря слід звернутися до пічника. Майстер допоможе визначити причину виникнення цих дефектів та обрати ефективний спосіб їх усунення. Нехтувати такими проблемами не варто. По-перше, тому, що це небезпечно. Через тріщини в приміщення може надходити дим, що містить отруйний чадний газ. По-друге, тому, що це може вводити в оману. Наприклад, бувають ситуації, коли власник пічки зосереджений на питанні <strong><em>«як почистити піч, щоб не диміла»</em></strong>, при цьому, не звертаючи уваги, що задимленість приміщення відбувається через порушення цілісності конструкції. Виклик пічника у такій ситуації заощаджує час та гроші. Ще один привід проконсультуватися з фахівцем – облицювання печі. Поради фахівця допоможуть уникнути проблем, пов'язаних із подальшим руйнуванням облицювального матеріалу.</p>
          
          <p>Звичайно, варто відзначити, що в сучасному світі, пічник і сажотрус – найчастіше одна і та сама людина. Тому, для вирішення будь-яких питань з кладки, ремонту та чищення печей можна сміливо звертатися до одного майстра.
          </p>
        </div>
        
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div><h3 class="chapter__title">Як почистити сажу в печі самостійно?</h3></div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.webp 1x,
                ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.png 1x,
                ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/arrow-down@1x.webp 1x,
                ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/arrow-down@1x.png 1x,
                ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/arrow-down@1x.webp 1x,
                ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/arrow-down@1x.png 1x,
                ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="тисні на стрілку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Рішення чистити піч власноруч має бути виваженим та посильним. Перш ніж розпочинати боротьбу із засміченнями, треба обміркувати план дій та запастися необхідними інструментами. 
          </p>         
          <p>
            Спершу слід позбавитися попелу та сажі, які можна прибрати руками (смітяркою, шпателем, щіткою). Далі черга димаря. Залежно від його довжини та конструкції, можуть використовуватись різні методи. Якщо зручніше проводити чищення зверху вниз, необхідно організувати безпечний доступ на дах будинку. Крім страхового троса, треба взяти йорж діаметром на 20% більше діаметра димоходу. А також обтяжувач і трос для просування йоржа димарем. Коли конструкція димаря дозволяє здійснювати чистку знизу вгору, то просувати йорж допоможуть спеціальні подовжувачі. Вони можуть бути жорсткими (для прямих ходів) та гнучкими (для доступу до каналів з відгалуженнями). Ці трубки можна приєднувати одну до одної, таким чином нарощуючи необхідну довжину.
          </p>
          <p>
            Якщо в конструкції димоходу є частина, розташована горизонтально чи під кутом, то для якісного процесу чищення може знадобитися її розібрати. Розбору може підлягати кладка печі, якщо немає обладнаних ходів для чищення каналів.

          </p>
          <p>
            І, звичайно, видалення сажі з печі та димаря – заняття клопітне та трудомістке. Крім фізичної вправності знадобиться трохи терпіння.
          </p>
        </div>
      </div>
      
      
    </div>
  </div>
</section>
