<section class="article section">
  <div class="article container">
    <h2 class="article__title gruba chimney-sweep-services-ua">Послуги сажотруса</h2>
    <div class="article__description">
      <p class="article__description_paragraph">
        <strong><em>Сажотрус </em></strong> – це майстер з обслуговування димоходів та пічного
        обладнання. Невврто вважати, що вся його робота полягає лише у боротьбі з сажею. Це
        універсальний спеціаліст, який розуміється і на типах пічного обладнання, і на різновидах
        палива, і на тонкощах роботи різних опалювальних систем. Сажотруса часто називають пічником,
        адже професіонал своєї справи може надати послуги повного циклу: від кладки печі або
        встановлення котла до ремонту обладнання та
        <strong><a href="./uk-version.html" rel="noopener noreferrer">чистки димоходу</a></strong
        >.
      </p>

      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Актуальність професії сажотруса</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            <strong><em>Сажотруси </em></strong> завжди буде потреба, доки є обладнання, яке працює
            на дровах, вугіллі або будь-якому іншому твердому паливі. А як свідчить історія, пічні
            агрегати вдосконалюються, видозмінюються, але при цьому залишаються затребуваними вже
            багато століть.
          </p>
          <p>
            У процесі горіння твердопаливної сировини утворюється сажа. А з нею обов'язково треба
            боротися, бо вона дуже небезпечна та підступна. Великі скупчення сажі можуть спалахнути
            і призвести до пожежі. Значні відкладення можуть погіршити тягу в димарі або зовсім
            перекрити її. У такому разі, чадний газ і кіптява наповнюватимуть приміщення, і
            отруюватимуть все живе навколо. Якщо пічне обладнання використовується для приготування
            їжі, сажа наповнюється жирами і стає в рази більш займистою. Отже, ймовірність пожежі
            досягає максимальної позначки. А от при спалюванні вугілля та різних органічних
            відходів, димові гази містять у своєму складі оксиди азоту та сірки. При взаємодії з
            парою ці оксиди перетворюються на кислоти, які роз'їдають цегляну кладку або металеві
            частини димохідної труби. Тому чищення має проводитися регулярно, щоб уникнути
            непоправних наслідків.
            <strong><em>Виклик сажотруса </em></strong> – запорука безпечної та тривалої роботи
            пічного обладнання
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Компанія сажотрус-пічник</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>

        <div class="chapter__description">
          <p>
            Кілька століть тому існувала прикмета, згідно з якою зустріти «замурзаного» сажотруса –
            на щастя. Це було пов’язано з тим, робота трубольоту вважалася брудною, а самі
            працівники часто були вигнанцями у суспільстві. Тому сажотруси раніше намагалися
            працювати або вночі, або рано-вранці, щоб уникати уваги громадськості. Проте попри всю
            конспірацію, борців із сажею міг видати стан здоров'я. Постійна взаємодія з
            канцерогенами не проходила безслідно, і сажотруси часто хворіли на особливий вид
            онкології, який у народі так і назвали – «рак сажотрусів».
          </p>
          <p>
            Сьогодні сажотрус/пічник – все ще затребувана професія, але яка вже не асоціюється з
            «чорноробом». В арсеналі сучасного сажотрусу є не тільки щітки та йоржі, але й
            спеціальні аналізатори для визначення рівня викидів шкідливих речовин в атмосферу,
            відеокамери та тепловізори для обстеження стану димоходу та опалювальної системи в
            цілому, різні інструменти для прискорення та покращення процесу чищення.
          </p>
          <p>Викликати сажотруса можна для вирішення наступних завдань:</p>
          <ul>
            <li>
              монтаж димоходу,
              <strong
                ><a href="./uk-version.html" rel="noopener noreferrer">чищення димоходу</a></strong
              >, ремонтні роботи;
            </li>
            <li>перевірка та експертний висновок стану димових або вентиляційних каналів;</li>
            <li>гільзування димоходу;</li>
            <li>обмуровування димоходів;</li>
            <li>кладка печі/груби, каміна, мангалу;</li>
            <li>ремонт пічного обладнання;</li>
            <li>встановлення твердопаливного котла, його ремонт та обслуговування;</li>
            <li>монтаж та обслуговування газових котлів та колонок.</li>
          </ul>
          <p>
            <strong><em>Викликати сажотруса </em></strong> можна і для попередньої консультації.
            Наприклад, при плануванні опалювальної системи, при бажанні виконати облицювання вже
            існуючого пічного обладнання, при переході на новий вид сировини тощо. Рекомендації
            фахівця допоможуть уникнути досить поширених помилок, які спричиняють фінансові втрати.
            Консультаційна <strong><em>послуга сажотруса </em></strong> коштуватиме дешевше, ніж
            демонтаж неправильно виконаного облицювання або псування обладнання/димоходу внаслідок
            використання неякісного або невідповідного палива.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Вартість послуг сажотрус</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>

        <div class="chapter__description">
          <p>
            На <strong><em>послуги сажотруса ціна </em></strong> формується завжди індивідуально.
            <strong
              ><a href="./uk-version.html" rel="noopener noreferrer">Чищення димаря </a></strong
            >
            здійснюється, як правило, механічним способом. Залежно від об'єкта та конструкційних
            особливостей це може бути класичний метод чищення (згори донизу, з даху будівлі) або
            чищення знизу догори (з пристрою і до самого верху димаря). Для видалення сажі
            використовують різні йоржі:
          </p>

          <ul>
            <li>
              для металевих і цегляних конструкцій – сталеві йоржі, діаметром на 20% більше діаметра
              димоходу або залізні прямокутні (квадратні) щітки;
            </li>
            <li>
              для керамічних димових труб використовують тільки пластикові йоржі, щоб запобігти
              подряпинам і сколам поверхні.
            </li>
          </ul>
          <p>
            Щоб йорж просунути на потрібну довжину, сажотрус чіпляє його до допоміжного інвентарю:
          </p>
          <ul>
            <li>для класичного чищення – це трос та спеціальний обтяжувач;</li>
            <li>
              для чищення знизу вгору – подовжувальні прути (жорсткі для прямих димових каналів, а
              гнучкі – для конструкцій з кутами).
            </li>
          </ul>
          <p>
            Підготувавши відповідний інвентар, сажотрус ретельно видаляє сажу на всій внутрішній
            поверхні агрегату та димоходу. За наявності сильних засмічень може використовуватися
            дриль або перфоратор для прискорення процесу чищення.
          </p>
          <p>
            Після завершення процедури, вся зчищена сажа видаляється за допомогою будівельного
            пилососа, потім перевіряється тяга в димарі.
          </p>
          <p>
            Майстер обов'язково також проводить огляд димоходу та обладнання на наявність тріщин,
            сколів, прогорілих частин конструкції.
          </p>
          <p>
            Ступінь засмічення димоходу та агрегату, складність проведення процедури, необхідність у
            специфічному інвентарі (на кшталт високої драбини, страхувального спорядження тощо),
            дальність розташування об'єкта – всі ці фактори впливають на ціноутворення. Тому
            вартість виконаних робіт безпосередньо залежить від ситуації у кожному конкретному
            випадку. Наприклад, майстер, який подає оголошення «сажотрус Дніпро», може працювати і
            по всій області. Проте виїзд до іншого міста – це додаткові витрати, оплата яких
            обговорюється в індивідуальному порядку. Для уточнення будь-яких питань, пов'язаних з
            чищенням чи обслуговуванням пічного обладнання, достатньо зателефонувати до фахівця.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
