<section class="additional-service">
  <div class="additional-service container">
    <h2 class="additional-service__title ua" id="additional-service">Послуги з чищення</h2>
    <ul class="additional-service__list list">
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_1@1x.webp 1x,
                ./images/desktop/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_1@1x.jpg 1x,
                ./images/desktop/additional-service/img_1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_1@1x.webp 1x,
                ./images/tablet/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_1@1x.jpg 1x,
                ./images/tablet/additional-service/img_1@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_1@1x.webp 1x,
                ./images/mobile/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_1@1x.jpg 1x,
                ./images/mobile/additional-service/img_1@2x.jpg 2x
              "
            />
            <img class="cleaning-the-fireplace" loading="lazy" src="#" alt="Чищення каміна" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./chishenny-kamina.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Чищення каміна</h3>
          </a>
          <button class="additional-service__link link button" data-modal-open>
            Замовити послугу
          </button>
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_2@1x.webp 1x,
                ./images/desktop/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_2@1x.jpg 1x,
                ./images/desktop/additional-service/img_2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_2@1x.webp 1x,
                ./images/tablet/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_2@1x.jpg 1x,
                ./images/tablet/additional-service/img_2@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_2@1x.webp 1x,
                ./images/mobile/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_2@1x.jpg 1x,
                ./images/mobile/additional-service/img_2@2x.jpg 2x
              "
            />
            <img class="сrack-repair" loading="lazy" src="#" alt="Чищення печі" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./chishenny-pechi.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Чищення печі</h3>
          </a>
          <button class="additional-service__link link button" data-modal-open>
            Замовити послугу
          </button>
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/chistka_dimoxoda@1x.webp 1x,
                ./images/desktop/additional-service/chistka_dimoxoda@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/chistka_dimoxoda@1x.jpg 1x,
                ./images/desktop/additional-service/chistka_dimoxoda@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/chistka_dimoxoda@1x.webp 1x,
                ./images/tablet/additional-service/chistka_dimoxoda@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/chistka_dimoxoda@1x.jpg 1x,
                ./images/tablet/additional-service/chistka_dimoxoda@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/chistka_dimoxoda@1x.webp 1x,
                ./images/mobile/additional-service/chistka_dimoxoda@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/chistka_dimoxoda@1x.jpg 1x,
                ./images/mobile/additional-service/chistka_dimoxoda@2x.jpg 2x
              "
            />
            <img class="replacement-of-fittings" loading="lazy" src="#" alt="Чищення димоходу" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./uk-version.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Чищення димоходу</h3>
          </a>
          <button class="additional-service__link link button" data-modal-open>
            Замовити послугу
          </button>
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_3@1x.webp 1x,
                ./images/desktop/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_3@1x.jpg 1x,
                ./images/desktop/additional-service/img_3@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_3@1x.webp 1x,
                ./images/tablet/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_3@1x.jpg 1x,
                ./images/tablet/additional-service/img_3@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_3@1x.webp 1x,
                ./images/mobile/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_3@1x.jpg 1x,
                ./images/mobile/additional-service/img_3@2x.jpg 2x
              "
            />
            <img class="replacement-of-fittings" loading="lazy" src="#" alt="Чищення груби" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./chishennya-grubi.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Чищення груби</h3>
          </a>
          <button class="additional-service__link link button" data-modal-open>
            Замовити послугу
          </button>
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/uslugi_pechnika@1x.webp 1x,
                ./images/desktop/additional-service/uslugi_pechnika@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/uslugi_pechnika@1x.jpg 1x,
                ./images/desktop/additional-service/uslugi_pechnika@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/uslugi_pechnika_tablet@1x.webp 1x,
                ./images/tablet/additional-service/uslugi_pechnika_tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/uslugi_pechnika_tablet@1x.jpg 1x,
                ./images/tablet/additional-service/uslugi_pechnika_tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/uslugi_pechnika_mobile@1x.webp 1x,
                ./images/mobile/additional-service/uslugi_pechnika_mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/uslugi_pechnika_mobile@1x.jpg 1x,
                ./images/mobile/additional-service/uslugi_pechnika_mobile@2x.jpg 2x
              "
            />
            <img class="cleaning-the-fireplace" loading="lazy" src="#" alt="Послуги пічника" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./poslugi-pichnika.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Послуги пічника</h3>
          </a>
          <button class="additional-service__link link button" data-modal-open>
            Замовити послугу
          </button>
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/chistka-ventilacii@1x.webp 1x,
                ./images/desktop/additional-service/chistka-ventilacii@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/chistka-ventilacii@1x.jpg 1x,
                ./images/desktop/additional-service/chistka-ventilacii@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/chistka-ventilacii_tablet@1x.webp 1x,
                ./images/tablet/additional-service/chistka-ventilacii_tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/chistka-ventilacii_tablet@1x.jpg 1x,
                ./images/tablet/additional-service/chistka-ventilacii_tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/chistka-ventilacii_mobile@1x.webp 1x,
                ./images/mobile/additional-service/chistka-ventilacii_mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/chistka-ventilacii_mobile@1x.jpg 1x,
                ./images/mobile/additional-service/chistka-ventilacii_mobile@2x.jpg 2x
              "
            />
            <img class="cleaning-the-fireplace" loading="lazy" src="#" alt="Чищення вентиляції" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./chishennya-ventilyaciyi.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Чищення вентиляції</h3>
          </a>
          <button class="additional-service__link link button" data-modal-open>
            Замовити послугу
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
