<section class="article section">
  <div class="article container">
    <h2 class="article__title chimney-sweep-services">Услуги трубочиста</h2>
    <div class="article__description">
      <p class="article__description_paragraph">
        <strong><em>Трубочист</em></strong> – это мастер по обслуживанию дымоходов и печного
        оборудования. Неверно полагать, что вся его работа заключается лишь в борьбе с сажей. Это
        универсальный специалист, который разбирается и в типах печного оборудования, и в
        разновидностях топлива, и в тонкостях работы различных отопительных систем. Трубочиста часто
        называют печником, ведь профессионал своего дела может предоставить услуги полного цикла: от
        кладки печи или установки котла до ремонта оборудования и
        <strong><a href="./index.html" rel="noopener noreferrer">чистки дымохода</a></strong
        >.
      </p>

      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Актуальность профессии трубочиста</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            <strong><em>Трубочисты</em></strong> всегда будут нужны, пока есть оборудование, которое
            работает на дровах, угле или любом другом твердом топливе. А как показывает история,
            печные агрегаты совершенствуются, видоизменяются, но при этом остаются востребованными
            уже много веков.
          </p>
          <p>
            В процессе горения твердотопливного сырья образуется сажа. А с ней обязательно нужно
            бороться, потому что она очень опасна и коварна. Большие скопления сажи могут
            воспламениться и привести к пожару. Внушительные отложения также могут ухудшить тягу в
            дымоходе или вовсе перекрыть ее. В таком случае, угарный газ и копоть будут наполнять
            помещение, и отравлять все живое вокруг. Если печное оборудование используется для
            приготовления пищи, то сажа наполняется жирами и становиться в разы более горючей.
            Следовательно, вероятность пожара достигает максимальной отметки. А вот при сжигании
            угля и различных органических отходов, дымовые газы содержат в своем составе оксиды
            азота и серы. При соединении с паром, эти оксиды превращаются в кислоты, которые
            разъедают кирпичную кладку или металлические части дымоходной трубы. Поэтому чистка
            должна проводиться регулярно во избежание непоправимых последствий.
            <strong><em>Вызов трубочиста</em></strong> – залог безопасной и длительной работы
            печного оборудования.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Компания трубочист-печник</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>

        <div class="chapter__description">
          <p>
            Несколько столетий назад существовала примета, согласно которой встретить «чумазого»
            трубочиста – к счастью. Это было связано с тем, что работа труболета считалась грязной,
            а сами работники часто были изгоями. Поэтому трубочисты раньше старались работать либо
            ночью, либо рано утром, чтобы скрываться от внимания общественности. Однако при всей
            конспирации, борцов с сажей могло выдать состояние здоровья. Постоянное взаимодействие с
            канцерогенами не проходило бесследно, и трубочисты часто болели особым видом онкологии,
            который в народе так и назвали – «рак трубочистов».
          </p>
          <p>
            Сегодня трубочист/печник – все также востребованная профессия, которая уже не
            ассоциируется с «чернорабочим». В арсенале современного трубочиста есть не только щетки
            и ерши, но и специальные анализаторы для определения уровня выбросов вредных веществ в
            атмосферу, видеокамеры и тепловизоры для обследования состояния дымохода и отопительной
            системы в целом, различные инструменты для ускорения и улучшения процесса чистки.
          </p>
          <p>Вызвать трубочиста можно для решения следующих задач:</p>
          <ul>
            <li>
              монтаж дымохода,
              <strong><a href="./index.html" rel="noopener noreferrer">чистка дымохода</a></strong
              >, ремонтные работы;
            </li>
            <li>проверка и экспертное заключение состояния дымовых или вентиляционных каналов;</li>
            <li>гильзование дымохода;</li>
            <li>обмуровка дымоходов;</li>
            <li>кладка печи/грубы, камина, мангала;</li>
            <li>ремонт печного оборудования;</li>
            <li>установка твердотопливного котла, ремонт и обслуживание;</li>
            <li>монтаж и обслуживание газовых котлов и колонок.</li>
          </ul>
          <p>
            <strong><em>Вызвать трубочиста</em></strong> можно и для предварительной консультации.
            Например, при планировке отопительной системы, при желании выполнить облицовку уже
            существующего печного оборудования, при переходе на новый вид сырья и т.д. Рекомендации
            специалиста помогут избежать достаточно распространенных ошибок, которые влекут за собой
            финансовые потери. Консультационная
            <strong><em>услуга трубочиста</em></strong> обойдется дешевле, чем демонтаж неверно
            выполненной облицовки или порча оборудования/дымохода в следствии использование
            некачественного или неподходящего топлива.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Стоимость услуг трубочиста</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>

        <div class="chapter__description">
          <p>
            На <strong><em>услуги трубочиста цена</em></strong> формируется всегда индивидуально.
            <strong><a href="./index.html" rel="noopener noreferrer">Чистка дымохода</a></strong>
            осуществляется, как правило, механическим способом. В зависимости от объекта и
            конструкционных особенностей это может быть классический метод чистки (сверху вниз, с
            крыши здания) или чистка снизу вверх (с устройства и до самого верха дымохода). Для
            удаления сажи используют различные ерши:
          </p>

          <ul>
            <li>
              для металлических и кирпичных конструкций – стальные ерши, диаметром на 20% больше
              диаметра дымохода или же железные прямоугольные (квадратные) щетки;
            </li>
            <li>
              для керамических дымовых труб используют только пластиковые ерши, чтобы предотвратить
              царапины и сколы поверхности.
            </li>
          </ul>
          <p>
            Чтобы ерш продвинуть на нужную длину, трубочист крепит его к вспомогательному инвентарю:
          </p>
          <ul>
            <li>для классической чистки – трос и специальный груз;</li>
            <li>
              для чистки снизу вверх – удлинительные пруты (жесткие для прямых дымовых каналов, а
              гибкие – для конструкций с углами).
            </li>
          </ul>
          <p>
            Подготовив подходящий инвентарь, трубочист тщательно удаляет сажу на всей внутренней
            поверхности агрегата и дымохода. При наличии сильных засоров может использоваться дрель
            или перфоратор для ускорения процесса чистки.
          </p>
          <p>
            По завершению процедуры, вся счищенная сажа удаляется с помощью строительного пылесоса,
            затем проверяется тяга в дымоходе.
          </p>
          <p>
            Мастер в обязательном порядке также проводит осмотр дымохода и оборудования на наличие
            трещин, сколов, прогоревших частей конструкции.
          </p>
          <p>
            Степень засорения дымохода и агрегата, сложность проведения чистки, необходимость в
            специфическом инвентаре (типа лестницы, страховочного снаряжения и т.п.), дальность
            расположения объекта – все эти факторы влияют на ценообразование. Поэтому стоимость
            выполненных работ напрямую зависит от ситуации в каждом конкретном случае. Например,
            мастер, который подает объявление «трубочист Днепр», может работать и по всей области.
            Однако выезд в другой город – это дополнительные расходы, оплата которых оговаривается в
            индивидуальном порядке. Для уточнения любых вопросов, связанных с чисткой или
            обслуживанием печного оборудования, достаточно позвонить специалисту.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
