<section class="additional-service">
    <div class="additional-service container">
        <h2 class="additional-service__title">Дополнительные услуги</h2>
        <ul class="additional-service__list list">
            <li class="additional-service__list-item">
                <div class="additional-service__img">
                    <picture>            
                        <source media="(min-width: 1440px)" 
                        srcset="images/desktop/additional-service/img_1.jpg 1x"/>            
                        <source media="(min-width: 768px)"
                         srcset="images/tablet/additional-service/img_1.jpg 1x"/>            
                        <source media="(max-width: 767px)" 
                        srcset="images/mobile/additional-service/img_1.jpg 1x"/> 
                        <img class="cleaning-the-fireplace" src="#" alt="Чистка камина, печи, котла" />
                    </picture>
                </div>
                <div class="additional-service__description">
                    <h3 class="additional-service__name">Чистка камина, печи, котла</h3>
                    <a href="" class="additional-service__link link button">Заказать услугу</a>
                </div>
            </li>
            <li class="additional-service__list-item">
                <div class="additional-service__img">
                    <picture>            
                        <source media="(min-width: 1440px)" 
                        srcset="images/desktop/additional-service/img_2.jpg 1x"/>            
                        <source media="(min-width: 768px)"
                         srcset="images/tablet/additional-service/img_2.jpg 1x"/>            
                        <source media="(max-width: 767px)" 
                        srcset="images/mobile/additional-service/img_2.jpg 1x"/> 
                        <img class="сrack-repair" src="#" alt="Ремонт трещин дымохода, печи" />
                    </picture>
                </div>
                <div class="additional-service__description">
                    <h3 class="additional-service__name">Ремонт трещин дымохода, печи</h3>
                    <a href="" class="additional-service__link link button">Заказать услугу</a>
                </div>
            </li>
            <li class="additional-service__list-item">
                <div class="additional-service__img">
                    <picture>            
                        <source media="(min-width: 1440px)" 
                        srcset="images/desktop/additional-service/img_3.jpg 1x"/>            
                        <source media="(min-width: 768px)"
                         srcset="images/tablet/additional-service/img_3.jpg 1x"/>            
                        <source media="(max-width: 767px)" 
                        srcset="images/mobile/additional-service/img_3.jpg 1x"/> 
                        <img class="replacement-of-fittings" src="#" alt="Замена фурнитуры печи" />
                    </picture>
                </div>
                <div class="additional-service__description">
                    <h3 class="additional-service__name">Замена фурнитуры печи</h3>
                    <a href="" class="additional-service__link link button">Заказать услугу</a>
                </div>
            </li>
        </ul>
    </div>
</section>