<section class="advantage">
    <div class="advantage container">
    <div class="advantage-padding">
<h2 class="advantage-title">Почему выбирают именно нас?</h2>
<ul class="advantage-list list">
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/advantage/icon_clean.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/advantage/icon_clean.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/advantage/icon_clean.png 1x"/> 
                <img class="icon_clean width" src="#" alt="icon_clean" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Чистка любой сложности</h3>
            <p class="advantage-description">Наличие необходимого инвентаря для осуществления качественной очистки дымоходов, вентиляционных шахт, котлов, каминов и печей.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/advantage/icon_roof.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/advantage/icon_roof.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/advantage/icon_roof.png 1x"/> 
                <img class="icon_roof width" src="#" alt="icon_roof" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Без доступа на крышу</h3>
            <p class="advantage-description">Мы используем механическую чистку по принципу «снизу вверх» , когда процесс чистки невозможно выполнить снаружи.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/advantage/icon_human.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/advantage/icon_human.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/advantage/icon_human.png 1x"/> 
                <img class="icon_human width" src="#" alt="icon_human" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Бесплатная консультация</h3>
            <p class="advantage-description">Узнать предварительную стоимость работ можно в разделе “Прайс”, а также уточнить все интересующие вас вопросы в телефонном режиме.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/advantage/icon_key.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/advantage/icon_key.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/advantage/icon_key.png 1x"/> 
                <img class="icon_key width" src="#" alt="icon_key" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">“Под ключ”</h3>
            <p class="advantage-description">Консультация профессионального печника о состоянии дымохода и отопительного оборудования, выбор оптимального варианта чистки дымоходного канала.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/advantage/icon_quality.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/advantage/icon_quality.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/advantage/icon_quality.png 1x"/> 
                <img class="icon_quality width" src="#" alt="icon_quality" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Гарантия</h3>
            <p class="advantage-description">Одним из показателей качества выполненных работ является гарантия – 1 год безопасной и бесперебойной работоспособности любых каналов.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/advantage/icon_money.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/advantage/icon_money.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/advantage/icon_money.png 1x"/> 
                <img class="icon_money width" src="#" alt="icon_money" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Приемлемые цены</h3>
            <p class="advantage-description">Стоимость работ от 100 грн/м пог. при механической чистке.</p>
        </div>
    </li>
</ul>
</div>
</section>