<section class="advantage">
    <div class="advantage container">
    <div class="advantage-padding">
<h2 class="advantage-title">Почему выбирают именно нас?</h2>
<ul class="advantage-list list">
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>    
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_clean@1x.webp 1x,
                ./images/desktop/advantage/icon_clean@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_clean@1x.png 1x,
                ./images/desktop/advantage/icon_clean@2x.png 2x"/>
                
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_clean@1x.webp 1x,
                ./images/tablet/advantage/icon_clean@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_clean@1x.png 1x,
                ./images/tablet/advantage/icon_clean@2x.png 2x"/>

                <source media="(max-width: 768px)"
                 srcset="./images/mobile/advantage/icon_clean@1x.webp 1x,
                ./images/mobile/advantage/icon_clean@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 768px)" 
                srcset="./images/mobile/advantage/icon_clean@1x.png 1x,
                ./images/mobile/advantage/icon_clean@2x.png 2x"/>
                 
                <img class="icon_clean width" src="#" alt="иконка чистки дымохода" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Чистка любой сложности</h3>
            <p class="advantage-description">Наличие необходимого инвентаря для осуществления качественной очистки дымоходов, вентиляционных шахт, котлов, каминов и печей.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_roof@1x.webp 1x,
                ./images/desktop/advantage/icon_roof@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_roof@1x.png 1x,
                ./images/desktop/advantage/icon_roof@2x.png 2x"/>
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_roof@1x.webp 1x,
                ./images/tablet/advantage/icon_roof@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_roof@1x.png 1x,
                ./images/tablet/advantage/icon_roof@2x.png 2x"/>
                <source media="(max-width: 767px)"
                 srcset="./images/mobile/advantage/icon_roof@1x.webp 1x,
                ./images/mobile/advantage/icon_roof@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/advantage/icon_roof@1x.png 1x,
                ./images/mobile/advantage/icon_roof@2x.png 2x"/>            
                 
                <img class="icon_roof width" src="#" alt="иконка крыши" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Без доступа на крышу</h3>
            <p class="advantage-description">Мы используем механическую чистку по принципу «снизу вверх» , когда процесс чистки невозможно выполнить снаружи.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_human@1x.webp 1x,
                ./images/desktop/advantage/icon_human@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_human@1x.png 1x,
                ./images/desktop/advantage/icon_human@2x.png 2x"/>
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_human@1x.webp 1x,
                ./images/tablet/advantage/icon_human@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_human@1x.png 1x,
                ./images/tablet/advantage/icon_human@2x.png 2x"/>
                <source media="(max-width: 767px)"
                 srcset="./images/mobile/advantage/icon_human@1x.webp 1x,
                ./images/mobile/advantage/icon_human@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/advantage/icon_human@1x.png 1x,
                ./images/mobile/advantage/icon_human@2x.png 2x"/>
                
                <img class="icon_human width" src="#" alt="иконка человека" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Бесплатная консультация</h3>
            <p class="advantage-description">Узнать предварительную стоимость работ можно в разделе “Прайс”, а также уточнить все интересующие вас вопросы в телефонном режиме.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_key@1x.webp 1x,
                ./images/desktop/advantage/icon_key@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_key@1x.png 1x,
                ./images/desktop/advantage/icon_key@2x.png 2x"/>
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_key@1x.webp 1x,
                ./images/tablet/advantage/icon_key@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_key@1x.png 1x,
                ./images/tablet/advantage/icon_key@2x.png 2x"/>
                <source media="(max-width: 767px)"
                 srcset="./images/mobile/advantage/icon_key@1x.webp 1x,
                ./images/mobile/advantage/icon_key@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/advantage/icon_key@1x.png 1x,
                ./images/mobile/advantage/icon_key@2x.png 2x"/> 
                
                <img class="icon_key width" src="#" alt="иконка ключа" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">“Под ключ”</h3>
            <p class="advantage-description">Консультация профессионального печника о состоянии дымохода и отопительного оборудования, выбор оптимального варианта чистки дымоходного канала.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_quality@1x.webp 1x,
                ./images/desktop/advantage/icon_quality@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_quality@1x.png 1x,
                ./images/desktop/advantage/icon_quality@2x.png 2x"/>
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_quality@1x.webp 1x,
                ./images/tablet/advantage/icon_quality@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_quality@1x.png 1x,
                ./images/tablet/advantage/icon_quality@2x.png 2x"/>
                <source media="(max-width: 767px)"
                 srcset="./images/mobile/advantage/icon_quality@1x.webp 1x,
                ./images/mobile/advantage/icon_quality@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/advantage/icon_quality@1x.png 1x,
                ./images/mobile/advantage/icon_quality@2x.png 2x"/>            
                 
                <img class="icon_quality width" src="#" alt="иконка гарантии качества" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Гарантия</h3>
            <p class="advantage-description">Одним из показателей качества выполненных работ является гарантия – 1 год безопасной и бесперебойной работоспособности любых каналов.</p>
        </div>
    </li>
    <li class="advantage-item">
        <div class="advantage-img-wrapper">
            <picture>            
                <source media="(min-width: 1440px)"
                 srcset="./images/desktop/advantage/icon_money@1x.webp 1x,
                ./images/desktop/advantage/icon_money@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 1440px)" 
                srcset="./images/desktop/advantage/icon_money@1x.png 1x,
                ./images/desktop/advantage/icon_money@2x.png 2x"/>
                <source media="(min-width: 768px)"
                 srcset="./images/tablet/advantage/icon_money@1x.webp 1x,
                ./images/tablet/advantage/icon_money@2x.webp 2x" type="image/webp"/>        
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/advantage/icon_money@1x.png 1x,
                ./images/tablet/advantage/icon_money@2x.png 2x"/>
                <source media="(max-width: 767px)"
                 srcset="./images/mobile/advantage/icon_money@1x.webp 1x,
                ./images/mobile/advantage/icon_money@2x.webp 2x" type="image/webp"/>        
                <source media="(max-width: 767px)" 
                srcset="./images/mobile/advantage/icon_money@1x.png 1x,
                ./images/mobile/advantage/icon_money@2x.png 2x"/>            
                
                <img class="icon_money width" src="#" alt="иконка денег" />
            </picture>
        </div>
        <div class="advantage-description-wrapper">
            <h3 class="description-advantage-title">Приемлемые цены</h3>
            <p class="advantage-description">Стоимость работ от 100 грн/м пог. при механической чистке.</p>
        </div>
    </li>
</ul>
</div>
</section>