<section class="section advantage">
<h2 class="advantage-title">Почему выбирают именно нас?</h2>
<ul>
    <li>
        <div>
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/advantage/icon_clean.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/advantage/icon_clean.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/advantage/icon_clean.png 1x"/> 
                <img class="icon_clean" src="#" alt="icon_clean" />
            </picture>
        </div>
        <div></div>
    </li>
    <li>
        <div>
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/advantage/icon_roof.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/advantage/icon_roof.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/advantage/icon_roof.png 1x"/> 
                <img class="icon_roof" src="#" alt="icon_roof" />
            </picture>
        </div>
        <div></div>
    </li>
    <li>
        <div>
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/advantage/icon_human.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/advantage/icon_human.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/advantage/icon_human.png 1x"/> 
                <img class="icon_human" src="#" alt="icon_human" />
            </picture>
        </div>
        <div></div>
    </li>
    <li>
        <div></div>
        <div></div>
    </li>
    <li>
        <div></div>
        <div></div>
    </li>
    <li>
        <div></div>
        <div></div>
    </li>
</ul>
</section>