<section class="cleaning section">
  <div class="container">
    <h2 class="cleaning-title">Когда надо чистить дымоход?</h2>
    <div class="cleaning-wrapper">
      <div class="block">
        <div class="block-wrapper">
          <div class="cleaning-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="images/desktop/cleaning/smoke-black.png 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="images/tablet/cleaning/smoke-black.png 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/cleaning/smoke-black.jpg 1x"
              />
              <img class="smoke-black cleaning-image-mb" src="#" alt="black smoke" />
            </picture>
          </div>
          <div class="cleaning-description-wrapper">
            <h3 class="cleaning-description-title">Густой черный дым</h3>
            <p class="cleaning-description">
              Густой черный дым из дымохода и запах дыма в помещении, которые является показателями
              высокой степени загрязнения дымохода.
            </p>
          </div>
        </div>
        <div class="block-wrapper">
          <div class="cleaning-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="images/desktop/cleaning/smoke-fire.png 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="images/tablet/cleaning/smoke-fire.png 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/cleaning/smoke-fire.jpg 1x"
              />
              <img class="smoke-fire cleaning-image-mb" src="#" alt="fire smoke" />
            </picture>
          </div>
          <div class="cleaning-description-wrapper">
            <h3 class="cleaning-description-title">Оранжевое пламя</h3>
            <p class="cleaning-description">
              Ярко оранжевое пламя при горении сырья – признак нехватки кислорода, который должен
              поступать снаружи.
            </p>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="block-wrapper mb">
          <div class="cleaning-img-wrapper">
            <picture>
              <source media="(min-width: 1440px)" srcset="images/desktop/cleaning/woods.png 1x" />
              <source media="(min-width: 768px)" srcset="images/tablet/cleaning/woods.png 1x" />
              <source media="(max-width: 767px)" srcset="images/mobile/cleaning/woods.jpg 1x" />
              <img class="woods cleaning-image-mb" src="#" alt="woods" />
            </picture>
          </div>
          <div class="cleaning-description-wrapper">
            <h3 class="cleaning-description-title">Расход топлива</h3>
            <p class="cleaning-description">
              Увеличение расхода топлива (дров, брикетов и пр.), которое происходит из-за того, что
              толстый слой сажи мешает нормальной теплопередаче в системе.
            </p>
          </div>
        </div>
        <div class="block-wrapper">
          <div class="cleaning-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="images/desktop/cleaning/ignition.png 1x"
              />
              <source media="(min-width: 768px)" srcset="images/tablet/cleaning/ignition.png 1x" />
              <source media="(max-width: 767px)" srcset="images/mobile/cleaning/ignition.jpg 1x" />
              <img class="ignition cleaning-image-mb" src="#" alt="ignition" />
            </picture>
          </div>
          <div class="cleaning-description-wrapper">
            <h3 class="cleaning-description-title">Длительный розжиг</h3>
            <p class="cleaning-description">
              Длительное время необходимое для розжига, затухание пламени говорит об отсутствии тяги
              или ее обратном направлении, что крайне опасно для жизни.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
