<section class="consultation section">
  <div class="container">
    <h2 class="consultation__title" id="consultation__title">
      Закажите бесплатную консультацию специалиста!
    </h2>
    <form class="consultation__form" id="consultation__form">
      <input
        class="modal-form__input"
        minlength="2"
        type="text"
        name="username"
        id="form-username"
        placeholder="Имя"
        required
      />
      <input
        class="modal-form__input"
        type="tel"
        name="telephon"
        id="form-telephon"
        placeholder="Ваш телефон"
        required
      />

      <button class="consultation__form-button" type="submit">Вызвать специалиста</button>
    </form>
    <!-- <iframe
      style="height: 300px; overflow: auto"
      width="100%"
      marginwidth="0"
      marginheight="0"
      frameborder="0"
      src="https://formdesigner.ru/form/iframe/166680"
    >
      <p>
        <a href="https://formdesigner.ru/form/view/166680"
          >https://formdesigner.ru/form/view/166680</a
        >
      </p>
    </iframe> -->
    <!-- <div id="form_166680_1"></div> -->
    <!-- <script async type="text/javascript">
      (function (d, w, c) {
        (w[c] = w[c] || []).push({
          formId: 166680,
          host: 'formdesigner.ru',
          formHeight: 100,
          el: 'form_166680_1',
          center: 1,
          scroll: 0,
        });
        var s = d.createElement('script'),
          g = 'getElementsByTagName';
        s.type = 'text/javascript';
        s.charset = 'UTF-8';
        s.async = true;
        s.src =
          (d.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//formdesigner.ru/js/iform.js?v=0.0.3';
        var h = d[g]('head')[0] || d[g]('body')[0];
        h.appendChild(s);
      })(document, window, 'fdforms');
    </script> -->
  </div>
</section>
