<footer class="footer">
    <div class="footer-container container">
        <picture>            
            <source media="(min-width: 1440px)" 
            srcset="images/desktop/header/logo.png 1x"/>            
            <source media="(min-width: 768px)"
             srcset="images/tablet/header/logo.png 1x"/>            
            <source media="(max-width: 767px)" 
            srcset="images/mobile/header/logo.png 1x"/> 
            <img class="header-logo" src="#" alt="Logotip" />
        </picture>
        <div class="footer__contacts"></div>
        <div class="footer__work-schedule"></div>
        <div class="footer__soc"></div>
        <p class="copyright">COPYRIGHT 2020 norik.com.ua, ALL RIGHT RESERVED</p>
    </div>
</footer>