<section class="form-call-back">
  <div class="form-call-back container">
    <div class="form-call-back__wrapper">
      <p id="form-call-back__title" class="form-call-back__title">У вас остались вопросы?</p>
      <p class="form-call-back__call-back">Наш менеджер свяжется с вами в течение 15 минут</p>
      <div id="form_166680_2"></div>
      <script type="text/javascript">
        (function (d, w, c) {
          (w[c] = w[c] || []).push({
            formId: 166680,
            host: 'formdesigner.ru',
            formHeight: 100,
            el: 'form_166680_2',
            center: 1,
            scroll: 0,
          });
          var s = d.createElement('script'),
            g = 'getElementsByTagName';
          s.type = 'text/javascript';
          s.charset = 'UTF-8';
          s.async = true;
          s.src =
            (d.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//formdesigner.ru/js/iform.js?v=0.0.3';
          var h = d[g]('head')[0] || d[g]('body')[0];
          h.appendChild(s);
        })(document, window, 'fdforms');
      </script>
    </div>
  </div>
</section>
