<section class="form-call-back">
    <div class="form-call-back container">
        <div class="form-call-back__wrapper">
        <p id="form-call-back__title" class="form-call-back__title">У вас остались вопросы?</p>
        <p class="form-call-back__call-back">Наш менеджер свяжется с вами в течение 15 минут</p>
        <form action="send.php" method="POST" class="call-back">
                <input
                class="modal-form__input modal-form__name"
                minlength="2"
                type="text"
                name="username"
                id="form-name"
                placeholder="Имя"
                required
                />
            <input
                class="modal-form__input modal-form__tel"
                type="tel"
                name="telephon"
                id="form-tel"
                placeholder="Ваш телефон"
                required
            />

      <button class="consultation__form-button " type="submit">Заказать обратный звонок</button>
        </form>
    </div>
    </div>
</section>