<section class="header">
    <div class="header-top section container">
        <picture>            
            <source media="(min-width: 1440px)" 
            srcset="images/desktop/header/logo.png 1x"/>            
            <source media="(min-width: 768px)"
             srcset="images/tablet/header/logo.png 1x"/>            
            <source media="(max-width: 767px)" 
            srcset="images/mobile/header/logo.png 1x"/> 
            <img class="header-logo" src="#" alt="Logotip" />
        </picture>
        <div class="header-menu">
            <a href="#" class="header-link link">Наши работы</a>
            <a href="#" class="header-link link">Прайс</a>
        </div>
        <button type="button" class="call">
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/header/icon_phone-desktop.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/header/icon_phone-tablet.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/header/icon_phone.png 1x"/> 
                <img class="phone" src="#" alt="contact phone" />
            </picture>
        <!-- <img src="images/mobile/header/icon_phone.png" class="header-img-phone"  alt="contacts"> -->
        </button>
        <div class="header-phone_dropdown visually-hidden">
            <ul class="call-button__list list ">
                <li class="call-button__item">
                  <a class="call-button__link link" href="tel:+380732228557"> +38 (073) 222 85 57</a>
                </li>
                <li class="call-button__item">
                  <a class="call-button__link link" href="tel:+380502228557"> +38 (050) 222 85 57</a>
                </li>
                <li class="call-button__item">
                    <a class="call-button__link link" href="tel:+380682228557"> +38 (068) 222 85 57</a>
                  </li>
              </ul>
        </div>
    </div>
    <div class="header-middle container">
        <h1 class="header-middle-title">Чистка дымохода и вентиляции от<br> сажи</h1>
        <ul class="header-middle-list">
            <li class="header-middle-item">Срочный выезд</li>
            <li class="header-middle-item">Бесплатная консультация</li>
            <li class="header-middle-item">Оплата удобным для вас способом</li>
        </ul>
        <button type="button" class="button">Вызвать специалиста</button>
    
    </div>
</section>