<section class="header">
    <div class="header-top section ">
        <div class=" header-top container">
        <picture>            
            <source media="(min-width: 1440px)" 
            srcset="images/desktop/header/logo.png 1x"/>            
            <source media="(min-width: 768px)"
             srcset="images/tablet/header/logo.png 1x"/>            
            <source media="(max-width: 767px)" 
            srcset="images/mobile/header/logo.png 1x"/> 
            <img class="header-logo" src="#" alt="Logotip" />
        </picture>
        <div class="header-menu">
            <a href="#before-and-after__title" class="header-link link">Наши работы</a>
            <a href="#price__desk" class="header-link link">Прайс</a>
        </div>
        <div class="header-price">            
            <a href="#consultation__title" class="header-link link">Прайс</a>
        </div>
        <button type="button" class="call  hero__button" data-modal-open>
            <picture>            
                <source media="(min-width: 1440px)" 
                srcset="images/desktop/header/icon_phone-desktop.png 1x"/>            
                <source media="(min-width: 768px)"
                 srcset="images/tablet/header/icon_phone-tablet.png 1x"/>            
                <source media="(max-width: 767px)" 
                srcset="images/mobile/header/icon_phone.png 1x"/> 
                <img class="phone" src="#" alt="contact phone" />
            </picture>
        
        </button>
        
        </div>
    </div>
    <div class="header-middle container">
        <h1 class="header-middle-title">Чистка дымохода и вентиляции от<br> сажи</h1>
        <ul class="header-middle-list">
            <li class="header-middle-item">Срочный выезд</li>
            <li class="header-middle-item">Бесплатная консультация</li>
            <li class="header-middle-item">Оплата удобным для вас способом</li>
        </ul>
        <a href="#consultation__title" class="button link">Вызвать специалиста</a>
    
    </div>
    <div class="backdrop is-hidden" data-modal>
        <div class="modal-window">
            <button type="button" class="modal-window__close-btn" data-modal-close>
                <svg class="modal-window__icon-close" width="18" height="18">
                    <use href="./images/symbol-defs.svg#icon-close-black"></use>
                </svg>
            </button>
            <div class="header-phone_dropdown">
                <ul class="call-button__list list ">
                    <li class="call-button__item">
                      <a class="call-button__link link" href="tel:+380732228557"> 073 222 85 57</a>
                    </li>
                    <li class="call-button__item">
                      <a class="call-button__link link" href="tel:+380502228557"> 050 222 85 57</a>
                    </li>
                    <li class="call-button__item">
                        <a class="call-button__link link" href="tel:+380682228557"> 068 222 85 57</a>
                      </li>
                  </ul>
            </div>
            <p class="modal-window__description">Чистка дымохода и
                вентиляции от сажи</p>
                <ul class="services__list">
                    <li class="services__item">
                      <p>Срочный выезд</p>
                    </li>
                    <li class="services__item">
                      <p>Бесплатная консультация</p>
                    </li>
                    <li class="services__item">
                       <p>Оплата удобным для вас способом</p> 
                      </li>
                  </ul>
                  <picture>            
                    <source media="(min-width: 1440px)" 
                    srcset="images/desktop/header/pngegg.png 1x"/>            
                    <source media="(min-width: 768px)"
                     srcset="images/tablet/header/pngegg.png 1x"/>            
                    <source media="(max-width: 767px)" 
                    srcset="images/mobile/header/pngegg.png 1x"/> 
                    <img class="img-trybochist" src="#" alt="trybochist" />
                </picture>
        </div>
    </div>
</section>