<section class="more-photo">
    <div class="container">
        <h2 class="more-photo__title">Больше фото</h2>
        <ul class="masonry list">
            <li class="masonry-row1">
                <ul class="masonry-row1-list list">
                    <li class="masonry-row1-list-item"><img src="./images/main-page-more-photo/mobile/1.jpg" alt="img"></li>
                    <li class="masonry-row1-list-item"><img src="./images/main-page-more-photo/mobile/2.jpg" alt="img"></li>
                    <li class="masonry-row1-list-item"><img src="./images/main-page-more-photo/mobile/3.jpg" alt="img"></li>
                </ul>
            </li>
            <li class="masonry-row2">
                <ul class="masonry-row2-list list">
                    <li class="masonry-row2-list-item4"><img src="" alt=""></li>
                    <li class="masonry-row2-list-item5"></li>
                    <li class="masonry-row2-list-item6"></li>
                </ul>
            </li>
            <li class="masonry-row3">
                <ul class="masonry-row3-list list">
                    <li class="masonry-row3-list-item7"></li>
                    <li class="masonry-row3-list-item8"></li>
                    <li class="masonry-row3-list-item9"></li>
                </ul>
            </li>
            <li class="masonry-row4">
                <ul class="masonry-row4-list list">
                    <li class="masonry-row4-list-item10"></li>
                    <li class="masonry-row4-list-item11"></li>
                    <li class="masonry-row4-list-item12"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="backdrop is-hidden" data-modal>
        
        <div class="wrapper">
			<!-- Контент -->

			<div class="slider">
				<div class="slider__item filter">
					<img src="./images/main-page-more-photo/mobile/1.jpg" alt="img">
				</div>
				<div class="slider__item">
					<img src="./images/main-page-more-photo/mobile/2.jpg" alt="img">
				</div>
				<div class="slider__item filter">
					<img src="./images/main-page-more-photo/mobile/3.jpg" alt="img">
				</div>
				
			</div>
			
			<!-- Подключаем jQuery -->
			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<!-- Подключаем слайдер Slick -->
			<script src="../js/slick/slick.min.js"></script>
			<!-- Подключаем файл скриптов -->
			<script src="js/main.js"></script>
		</div>
    </div>
    
</section>