<section class="price">
    <div class="price container mobile-tablet">
        <h2 class="price__title">Прайс</h2>
        <ul class="price__list list">
            <li class="price__item">
                <p class="price__item-title">Консультация по телефону</p>
                <div class="price__item-service">
                    <p class="price__cost">БЕСПЛАТНО</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
            <li class="price__item">
                <p class="price__item-title">Выезд на объект с визуальным обследованием дымохода</p>
                <div class="price__item-service">
                    <p class="price__cost">БЕСПЛАТНО</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
            <li class="price__item">
                <p class="price__item-title">Чистка вертикального участка дымохода диаметром до 150 мм</p>
                <div class="price__item-service">
                    <p class="price__cost">от 120 грн</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
            <li class="price__item">
                <p class="price__item-title">Удаление завалов, в дымоходе или вентиляционном канале</p>
                <div class="price__item-service">
                    <p class="price__cost">от 100 грн</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
            <li class="price__item">
                <p class="price__item-title">Акт обследования и чистки дымохода</p>
                <div class="price__item-service">
                    <p class="price__cost">от 600 грн</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
            <li class="price__item">
                <p class="price__item-title">Пробивание дымохода</p>
                <div class="price__item-service">
                    <p class="price__cost">от 500-1000 грн</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="price container desktop">
        <h2 class="price__title">Прайс</h2>
        <ul class="price__list list">
            <li class="price__item">
                <p class="price__item-title">Консультация по телефону</p>
                <div class="price__item-service">
                    <p class="price__cost">БЕСПЛАТНО</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
            <li class="price__item">
                <p class="price__item-title">Выезд на объект с визуальным обследованием дымохода</p>
                <div class="price__item-service">
                    <p class="price__cost">БЕСПЛАТНО</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
            <li class="price__item">
                <p class="price__item-title">Чистка вертикального участка дымохода диаметром до 150 мм</p>
                <div class="price__item-service">
                    <p class="price__cost">от 120 грн</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
            <li class="price__item">
                <p class="price__item-title">Удаление завалов, в дымоходе или вентиляционном канале</p>
                <div class="price__item-service">
                    <p class="price__cost">от 100 грн</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
            <li class="price__item">
                <p class="price__item-title">Акт обследования и чистки дымохода</p>
                <div class="price__item-service">
                    <p class="price__cost">от 600 грн</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
            <li class="price__item">
                <p class="price__item-title">Пробивание дымохода</p>
                <div class="price__item-service">
                    <p class="price__cost">от 500-1000 грн</p>
                    <a href="" class="price__link">Заказать услугу</a>
                </div>
            </li>
        </ul>
    </div>
</section>