<section class="problems container">
    <ul class="problems-list">
        <li class="problems-item">
            <h3>Нестандартные типы загрязнений</h3>
            <div>
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
        <li class="problems-item">
            <h3>Нестандартные типы загрязнений</h3>
            <div>
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
        <li class="problems-item">
            <h3>Нестандартные типы загрязнений</h3>
            <div>
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
        <li class="problems-item">
            <h3>Нестандартные типы загрязнений</h3>
            <div>
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
        <li class="problems-item">
            <h3>Нестандартные типы загрязнений</h3>
            <div>
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
        <li class="problems-item">
            <h3>Нестандартные типы загрязнений</h3>
            <div>
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
    </ul>
</section>