<section class="problems container">
    <h2 class="problems-title">Проблемы самостоятельной чистки</h2>
    <ul class="problems-list list">
        <li class="problems-item">
            
            <h3  class="problems-descriprtion-title">Нестандартные типы загрязнений</h3>
            
            <div  class="problems-descriprtion">
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
        <li class="problems-item">
            <h3 class="problems-descriprtion-title">Нестандартные типы загрязнений</h3>
            <div class="problems-descriprtion">
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
        <li class="problems-item">
            <h3 class="problems-descriprtion-title">Нестандартные типы загрязнений</h3>
            <div class="problems-descriprtion">
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
        <li class="problems-item">
            <h3 class="problems-descriprtion-title">Нестандартные типы загрязнений</h3>
            <div class="problems-descriprtion">
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
        <li class="problems-item">
            <h3 class="problems-descriprtion-title">Нестандартные типы загрязнений</h3>
            <div class="problems-descriprtion">
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
        <li class="problems-item">
            <h3 class="problems-descriprtion-title">Нестандартные типы загрязнений</h3>
            <div class="problems-descriprtion">
                <p>Роль печника</p>
                <p>Печник легко справиться с подобной задачей без страха и паники</p>
            </div>
        </li>
    </ul>
</section>