<section class="problems">
  <h2 class="problems-title container">Проблемы самостоятельной чистки</h2>
  <ul class="problems-list container list">
    <li class="problems-item width">
      <h3 class="problems-descriprtion-title margin-bottom1">Нестандартные типы загрязнений</h3>

      <div class="problems-descriprtion">
        <p class="problems-description-item1">Роль печника</p>
        <p class="problems-description-item2">
          Печник легко справиться с подобной задачей без страха и паники
        </p>
      </div>
    </li>
    <li class="problems-item width">
      <h3 class="problems-descriprtion-title margin-bottom2">Повреждения дымохода</h3>
      <div class="problems-descriprtion">
        <p class="problems-description-item1">Роль печника</p>
        <p class="problems-description-item2">
          Опыт и практические навыки печника исключают возможность повредить дымоходный канал
        </p>
      </div>
    </li>
    <li class="problems-item width">
      <h3 class="problems-descriprtion-title margin-bottom3">
        Загрязнение окружающего пространства
      </h3>
      <div class="problems-descriprtion">
        <p class="problems-description-item1">Роль печника</p>
        <p class="problems-description-item2">
          Для чистоты выполнения работ, профессиональный трубочист использует специальный
          промышленный пылесос
        </p>
      </div>
    </li>
    <li class="problems-item width">
      <h3 class="problems-descriprtion-title margin-bottom4">Неправильно выбранный метод чистки</h3>
      <div class="problems-descriprtion">
        <p class="problems-description-item1">Роль печника</p>
        <p class="problems-description-item2">
          Мастер способен определить степень и тип загрязнения дымохода и подобрать оптимальным тип
          чистки
        </p>
      </div>
    </li>
    <li class="problems-item width">
      <h3 class="problems-descriprtion-title margin-bottom5">Травматизация</h3>
      <div class="problems-descriprtion">
        <p class="problems-description-item1">Роль печника</p>
        <p class="problems-description-item2">
          Печник знает, какие меры безопасности следует соблюдать при выполнении такой ответственной
          работы
        </p>
      </div>
    </li>
    <li class="problems-item width">
      <h3 class="problems-descriprtion-title margin-bottom6">Неподходящие материалы</h3>
      <div class="problems-descriprtion">
        <p class="problems-description-item1">Роль печника</p>
        <p class="problems-description-item2">
          Весь набор необходимых инструментов, различных по параметрам, есть лишь у профессионала
        </p>
      </div>
    </li>
  </ul>
</section>
