<section class="reviews">
    <div class="reviews container">
        <h2 class="reviews__title">Отзывы</h2>
        <ul class="reviews__list list">
            <li class="reviews__card">
                
                      <p class="reviews__description-text">
                        <picture>
                            <source
                              media="(min-width: 1440px)"
                              srcset="./images/desktop/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(min-width: 768px)"
                              srcset="./images/tablet/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(max-width: 767px)"
                              srcset="./images/mobile/reviews/photo1.jpg 1x"
                            />
                            <img class="photo" src="#" alt="фото" />
                          </picture>     
                        <span class="reviews__name">Валерий</span><br>
                        <span class="reviews__city">г. Днепр</span><br>   
                        Никогда не думал, что чистка дымохода настолько проблемное дело. Купил все необходимое, выделил целый день, но в конце концов пришлось вызывать трубочиста. Через пару часов – все до блеска. Еще котел посмотрел, пару дельных советов дал как поддерживать дымоход в порядке до следующей чистки. Все понравилось, стоит своих денег! Номер трубочиста записал сразу, буду к нему обращаться в дальнейшем. Советую
                      </p>
                
            </li>
            <li class="reviews__card">
              <p class="reviews__description-text">
                <picture>
                    <source
                      media="(min-width: 1440px)"
                      srcset="./images/desktop/reviews/photo2.jpg 1x"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="./images/tablet/reviews/photo2.jpg 1x"
                    />
                    <source
                      media="(max-width: 767px)"
                      srcset="./images/mobile/reviews/photo2.jpg 1x"
                    />
                    <img class="photo" src="#" alt="фото" />
                  </picture>     
                <span class="reviews__name">Александр Погребенюк</span><br>
                <span class="reviews__city">г. Днепр</span><br>    
                Обещал оставить свой отзыв. Что могу сказать, когда плохо работают, целый год потом плюешься и всем рассказываешь, что не так и как дорого обошлось. А тут и замечаний нет – лестница у них своя не надо голову ломать как организовать доступ до дымоходной трубы, инструмент весь, страховка, а главное – сразу видно, что не новички в этом деле. Приехали, посмотрели дымоход, крышу, сориентировались что нужно и приступили к работе. Без лишних вопросов и неприятностей. Шифер целый, дымоход чистый, понимаешь, за что заплатил деньги. Трубочист опытный, толковый. Конечно не сразу дозвонился, но понимаю, что когда постоянно в работе и много заказов – телефон потом. Буду обращаться именно к ним, и другим советую.
              </p>
            </li>
            <li class="reviews__card">
              <p class="reviews__description-text">
                <picture>
                    <source
                      media="(min-width: 1440px)"
                      srcset="./images/desktop/reviews/photo3.jpg 1x"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="./images/tablet/reviews/photo3.jpg 1x"
                    />
                    <source
                      media="(max-width: 767px)"
                      srcset="./images/mobile/reviews/photo3.jpg 1x"
                    />
                    <img class="photo" src="#" alt="фото" />
                  </picture>     
                <span class="reviews__name">Василий Д</span><br>
                <span class="reviews__city">г. Днепр</span><br>    
                Печка на даче у нас старенькая, поэтому внимательно к ней всегда относимся, чтобы не было неожиданностей. По состоянию здоровья в этом году пришлось делать чистку дымохода не своими силами, а нанимать трубочиста. Никто из друзей-знакомых не мог подсказать к кому обратиться, только советы давали за чем следить и что может случится во время чистки. Ужасов понарассказывали. Пришлось искать трубочиста в Днепре на свой страх и риск в интернете. Цена сначала показалась высокой как для дачной печки, ведь мы там постоянно не живем, только на отдых выбираемся. Но почистили хорошо, даже не знал, что столько накопилось сажи, регулярно чистил вручную и кожуру картофельную в печку всегда подбрасывал. Недочищал оказалось. Спасибо ребятам, свои деньги отрабатывают на 100 процентов.
              </p>
            </li>
            <li class="reviews__card">
              <p class="reviews__description-text">
                <picture>
                    <source
                      media="(min-width: 1440px)"
                      srcset="./images/desktop/reviews/photo4.jpg 1x"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="./images/tablet/reviews/photo4.jpg 1x"
                    />
                    <source
                      media="(max-width: 767px)"
                      srcset="./images/mobile/reviews/photo4.jpg 1x"
                    />
                    <img class="photo" src="#" alt="фото" />
                  </picture>     
                <span class="reviews__name">Евгений Мозговой</span><br>
                <span class="reviews__city">г. Днепр</span><br>    
                Сложно дозвониться, не всегда берет телефон, потом перезванивает. Сезон – заказов на много, но если нужно очень срочно, то можно договориться и он находит время удобное для тебя. Заказывал чистку дымохода, но и котел он посмотрел, уговорил почистить. Согласился потому что вручную сам так не почистишь, у него щетки на электродрель посажены, чистят конкретно, но не портят оборудование и дымоход. Быстро работает, и грязи за собой не оставляет, что тоже порадовало. Номер на заметку, профессионал своего дела. Рекомендую 
              </p>
            </li>
            <li class="reviews__card">
              <p class="reviews__description-text">
                <picture>
                    <source
                      media="(min-width: 1440px)"
                      srcset="./images/desktop/reviews/photo5.jpg 1x"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="./images/tablet/reviews/photo5.jpg 1x"
                    />
                    <source
                      media="(max-width: 767px)"
                      srcset="./images/mobile/reviews/photo5.jpg 1x"
                    />
                    <img class="photo" src="#" alt="фото" />
                  </picture>     
                <span class="reviews__name">Anastasiya Volodyna</span><br>
                <span class="reviews__city">г. Днепр</span><br>    
                Лучшая компания в своей сфере! Уже не первый раз звоним именно этому трубочисту, номер дал знакомый, который сам пользуется их услугами и очень хвалил за аккуратность и знание дела. Действительно работают быстро и чисто! Это очень важно! После одного «чистильщика» нам пришлось вызывать клининговую службу, которая с трудом привела в порядок дом от въевшихся черных следов. Теперь все супер! Если кому-то нужна чистка дымохода или камина в Днепре – звоните сюда, не пожалеете. Ответственных и аккуратных найти сложно, несмотря на  множество предложений, не все хорошо выполняют свою работу, некоторым кажется, что и так сойдет. Еще раз спасибо! Вы лучшие! 
              </p>
            </li>
            <li class="reviews__card">
              <p class="reviews__description-text">
                <picture>
                    <source
                      media="(min-width: 1440px)"
                      srcset="./images/desktop/reviews/photo6.jpg 1x"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="./images/tablet/reviews/photo6.jpg 1x"
                    />
                    <source
                      media="(max-width: 767px)"
                      srcset="./images/mobile/reviews/photo6.jpg 1x"
                    />
                    <img class="photo" src="#" alt="фото" />
                  </picture>     
                <span class="reviews__name">Анна Витиас</span><br>
                <span class="reviews__city">г. Днепр</span><br>    
                Свой дом требует постоянного ухода, а отопление (индивидуальное) имеет не только свои плюсы, но и минусы. Чистка дымохода нужна перед каждым отопительным сезоном, чтоб проверили все ли в порядке (насколько опасна обратная тяга или накопившаяся гарь в дымоходе знаю не понаслышке). Вызывали разных печников, но не все оказались порядочными (когда видят, что одна женщина с детьми в доме живет, то начинаю придумывать несуществующие проблемы чтобы побольше заработать). А еще не все трубочисты аккуратно работают! Потом кошмар и ужас после них выгребать приходится. Поэтому осталась очень довольна работой этих ребят – все быстро и слаженно. Проверили, почистили, лишнего не требовали. Молодцы! Рекомендую. 
              </p>
            </li>
        </ul>
    </div>
</section>