<section class="reviews">
    <div class="reviews container">
        <h2 class="reviews__title">Отзывы</h2>
        <ul class="reviews__list list">
            <li class="reviews__card">
                <div class="reviews__profile">
                    <div class="reviews__photo">
                        <picture>
                            <source
                              media="(min-width: 1440px)"
                              srcset="./images/desktop/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(min-width: 768px)"
                              srcset="./images/tablet/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(max-width: 767px)"
                              srcset="./images/mobile/reviews/photo1.jpg 1x"
                            />
                            <img class="photo" src="#" alt="фото" />
                          </picture>
                    </div>
                    <div class="reviews__adress">
                        <p class="reviews__name">Артём Лебедев</p>
                        <p class="reviews__city">г. Днепр</p>
                    </div>
                </div>
                <div class="reviews__description">
                    <p class="reviews__description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ullam eligendi dolore autem corporis soluta inventore velit iusto, expedita tempora!</p>
                </div>
            </li>
            <li class="reviews__card">
                <div class="reviews__profile">
                    <div class="reviews__photo">
                        <picture>
                            <source
                              media="(min-width: 1440px)"
                              srcset="./images/desktop/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(min-width: 768px)"
                              srcset="./images/tablet/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(max-width: 767px)"
                              srcset="./images/mobile/reviews/photo1.jpg 1x"
                            />
                            <img class="photo" src="#" alt="фото" />
                          </picture>
                    </div>
                    <div class="reviews__adress">
                        <p class="reviews__name">Артём Лебедев</p>
                        <p class="reviews__city">г. Днепр</p>
                    </div>
                </div>
                <div class="reviews__description"></div>
            </li>
            <li class="reviews__card">
                <div class="reviews__profile">
                    <div class="reviews__photo">
                        <picture>
                            <source
                              media="(min-width: 1440px)"
                              srcset="./images/desktop/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(min-width: 768px)"
                              srcset="./images/tablet/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(max-width: 767px)"
                              srcset="./images/mobile/reviews/photo1.jpg 1x"
                            />
                            <img class="photo" src="#" alt="фото" />
                          </picture>
                    </div>
                    <div class="reviews__adress">
                        <p class="reviews__name">Артём Лебедев</p>
                        <p class="reviews__city">г. Днепр</p>
                    </div>
                </div>
                <div class="reviews__description"></div>
            </li>
            <li class="reviews__card">
                <div class="reviews__profile">
                    <div class="reviews__photo">
                        <picture>
                            <source
                              media="(min-width: 1440px)"
                              srcset="./images/desktop/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(min-width: 768px)"
                              srcset="./images/tablet/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(max-width: 767px)"
                              srcset="./images/mobile/reviews/photo1.jpg 1x"
                            />
                            <img class="photo" src="#" alt="фото" />
                          </picture>
                    </div>
                    <div class="reviews__adress">
                        <p class="reviews__name">Артём Лебедев</p>
                        <p class="reviews__city">г. Днепр</p>
                    </div>
                </div>
                <div class="reviews__description"></div>
            </li>
            <li class="reviews__card">
                <div class="reviews__profile">
                    <div class="reviews__photo">
                        <picture>
                            <source
                              media="(min-width: 1440px)"
                              srcset="./images/desktop/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(min-width: 768px)"
                              srcset="./images/tablet/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(max-width: 767px)"
                              srcset="./images/mobile/reviews/photo1.jpg 1x"
                            />
                            <img class="photo" src="#" alt="фото" />
                          </picture>
                    </div>
                    <div class="reviews__adress">
                        <p class="reviews__name">Артём Лебедев</p>
                        <p class="reviews__city">г. Днепр</p>
                    </div>
                </div>
                <div class="reviews__description"></div>
            </li>
            <li class="reviews__card">
                <div class="reviews__profile">
                    <div class="reviews__photo">
                        <picture>
                            <source
                              media="(min-width: 1440px)"
                              srcset="./images/desktop/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(min-width: 768px)"
                              srcset="./images/tablet/reviews/photo1.jpg 1x"
                            />
                            <source
                              media="(max-width: 767px)"
                              srcset="./images/mobile/reviews/photo1.jpg 1x"
                            />
                            <img class="photo" src="#" alt="фото" />
                          </picture>
                    </div>
                    <div class="reviews__adress">
                        <p class="reviews__name">Артём Лебедев</p>
                        <p class="reviews__city">г. Днепр</p>
                    </div>
                </div>
                <div class="reviews__description"></div>
            </li>
        </ul>
    </div>
</section>