<section class="service">
    <div class="servise container">
        <h2 class="service__title">Как заказать услуги</h2>
        <div class="service-wrapper">
            <ul class="service-steps list">
                <li class="service-step">
                    <div class="service-step-img">
                        <picture>            
                            <source media="(min-width: 1440px)" 
                            srcset="images/desktop/service/mobile.png 1x"/>            
                            <source media="(min-width: 768px)"
                             srcset="images/tablet/service/mobile.png 1x"/>            
                            <source media="(max-width: 767px)" 
                            srcset="images/mobile/service/mobile.png 1x"/> 
                            <img class="mobile" src="#" alt="оставить заявку" />
                        </picture>
                    </div>
                    <div class="service-step-deskription">
                        <h3 class="service-step-description-title">Заявка</h3>
                        <p class="service-step-description-desk">Вы оставляете заявку на вызов специалиста.</p>                    
                    </div>
                    <button class="button" type="button">Оставить заявку</button>
                </li>
                <li class="service-step">
                    <div class="service-step-img">
                        <picture>            
                            <source media="(min-width: 1440px)" 
                            srcset="images/desktop/service/car.png 1x"/>            
                            <source media="(min-width: 768px)"
                             srcset="images/tablet/service/car.png 1x"/>            
                            <source media="(max-width: 767px)" 
                            srcset="images/mobile/service/car.png 1x"/> 
                            <img class="car" src="#" alt="Вызов мастера" />
                        </picture>
                    </div>
                    <div class="service-step-deskription">
                        <h3 class="service-step-description-title">Вызов мастера</h3>
                        <p class="service-step-description-desk">Наш мастер выезжает к Вам на объект.</p>                    
                    </div>
                </li>
                <li class="service-step">
                    <div class="service-step-img">
                        <picture>            
                            <source media="(min-width: 1440px)" 
                            srcset="images/desktop/service/clean.png 1x"/>            
                            <source media="(min-width: 768px)"
                             srcset="images/tablet/service/clean.png 1x"/>            
                            <source media="(max-width: 767px)" 
                            srcset="images/mobile/service/clean.png 1x"/> 
                            <img class="clean" src="#" alt="Чистка" />
                        </picture>
                    </div>
                    <div class="service-step-deskription">
                        <h3 class="service-step-description-title">Чистка</h3>
                        <p class="service-step-description-desk">Специалист, используя профессиональное обрудование, осуществляет тщательную очистку от сажи.</p>                    
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</section>