.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 425px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 769px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1439px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.container-one {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
    & {
      grid-template-columns: 2fr 1fr;
    }
  }
}

// .container-two {
//   grid-template-columns: 2fr;
// }

.container-three {
  display: none;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
    & {
      padding: 15px 0px 15px 35px;
      display: block;
      position: relative;
    }
  }
}
