.before-and-after .container {
  background: #383838;
  padding-top: 30px;
  padding-bottom: 30px;
}

.before-and-after .block-wrapper {
  margin-bottom: 0;
}
.before-and-after .slick-list {
  overflow: hidden;
}
.before-and-after .slick-track {
  display: flex;
  margin-bottom: 0px;
}
.before-and-after .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}
.before-and-after .slick-dots button {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
}
.before-and-after .slick-dots li {
  margin-right: 10px;
}
.before-and-after .slick-dots li:last-child {
  margin-right: 0;
}
.before-and-after .slick-dots li.slick-active button {
  background: radial-gradient(44.05% 44.05% at 50% 50%, #ffe790 0%, #ffaf28 100%);
}
.before-and-after .slick-dots li button {
  background: #c4c4c4;
}
ul.slick-dots {
  padding-left: 0;
}
.before-and-after__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
  color: #ff7d28;
}
.before-and-after__description {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  color: #ffffff;
}
.before-and-after .block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 62px;
}
.before-and-after .block {
  position: relative;
}
.before-and-after__img-arrow-wrapper {
  position: absolute;
  z-index: -1;
  top: 43px;
  left: 175px;
}
.block-wrapper.second {
  padding-left: 180px;
}
