.footer-container.container {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #383838;
  color: white;
}
.footer__contacts_wrapper {
  display: flex;
}
.footer__contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  font-family: Roboto;
  font-weight: 500;
  @include font(12px, 19px);
}
.footer__work-schedule-item {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.footer__contact {
  margin-right: 58px;
}
.footer__contact-item img {
  margin-right: 5px;
}
.footer__work-schedule-item img {
  margin-right: 5px;
}
.footer__contact-title {
  font-family: Roboto;
  font-weight: 700;
  @include font(14px, 19px);
  color: #ff7d28;
  margin-bottom: 14px;
}
.footer__schedule-title {
  font-family: Roboto;
  font-weight: 700;
  @include font(14px, 19px);
  color: #ff7d28;
  margin-bottom: 14px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer__soc-title {
  font-family: Roboto;
  font-weight: 700;
  @include font(14px, 19px);
  color: #ff7d28;
  margin-bottom: 14px;
  text-align: center;
}
.footer__soc-item {
  display: flex;
  align-items: center;
}
.footer__soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}
.link-viber {
  margin-right: 30px;
}
.footer__soc-item img {
  margin-right: 9px;
}
.copyright {
  font-family: Roboto;
  font-weight: 700;
  @include font(12px, 16px);
  text-align: center;
}
.link-viber {
  font-family: Roboto;
  @include font(12px, 19px);
}
.link-telegram {
  font-family: Roboto;
  @include font(12px, 19px);
}
