.footer {
  background: #383838;
}
.footer-container.container {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #383838;
  color: white;
}
.footer__contacts_wrapper {
  font-family: Roboto;
  display: flex;
  justify-content: space-around;
}
.footer__contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  font-family: Roboto;
  font-weight: 500;
  @include font(12px, 19px);
}
.footer__work-schedule-item {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  @include font(12px, 16px);
}
.footer__contact {
  margin-right: 58px;
}
.footer__contact-item img {
  margin-right: 5px;
}
.footer__work-schedule-item img {
  margin-right: 5px;
}
.footer__contact-title {
  font-family: Roboto;
  font-weight: 700;
  @include font(14px, 19px);
  color: #ff7d28;
  margin-bottom: 14px;
}
.footer__schedule-title {
  font-family: Roboto;
  font-weight: 700;
  @include font(14px, 19px);
  color: #ff7d28;
  margin-bottom: 14px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer__soc-title {
  font-family: Roboto;
  font-weight: 700;
  @include font(14px, 19px);
  color: #ff7d28;
  margin-bottom: 14px;
  text-align: center;
}
.footer__soc-item {
  display: flex;
  align-items: center;
}
.footer__soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}
.link-viber {
  margin-right: 30px;
}
.footer__soc-item img {
  margin-right: 9px;
}
.copyright {
  font-family: Roboto;
  font-weight: 700;
  @include font(12px, 16px);
  text-align: center;
}
.link-viber {
  font-family: Roboto;
  @include font(12px, 19px);
}
.link-telegram {
  font-family: Roboto;
  @include font(12px, 19px);
}
@media screen and (max-width: 374px) {
  .footer__contact {
    flex-wrap: nowrap;
    margin-right: 0px;
  }
}

@media screen and(min-width:768px) {
  .footer-container.container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__all-contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .footer__soc {
    justify-content: center;
  }
  .footer__contact-title {
    @include font(18px, 24px);
  }
  .footer__schedule-title {
    @include font(18px, 24px);
  }
  .footer__soc-title {
    @include font(18px, 24px);
  }
  .footer__contact-link {
    @include font(14px, 22px);
  }
  .footer__work-schedule-item {
    @include font(14px, 22px);
  }
  .copyright {
    @include font(12px, 16px);
  }
}

@media screen and(min-width:1440px) {
  .footer-container.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  .footer__soc {
    justify-content: center;
  }
  .copyright {
    position: absolute;
    bottom: 100px;
    right: 130px;
    text-align: left;
  }

  .footer__contact-title {
    @include font(24px, 32px);
  }
  .footer__schedule-title {
    @include font(24px, 32px);
  }
  .footer__soc-title {
    @include font(24px, 32px);
  }
  .footer__contact-link {
    @include font(18px, 28px);
  }
  .footer__work-schedule-item {
    @include font(18px, 24px);
  }
  .copyright {
    @include font(12px, 16px);
  }
  .footer-logo {
    margin-left: 30px;
    margin-right: 110px;
  }
  .footer__contacts {
    margin-right: 110px;
  }
  .footer__work-schedule {
    margin-right: 70px;
  }
  .perenos {
    display: block;
  }
}
