.more-photo {
  padding-top: 26px;
  background-color: blue;
}
.more-photo__title {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.masonry-row2 {
  display: none;
}
.masonry-row3 {
  display: none;
}
.masonry-row4 {
  display: none;
}
.masonry-row1-list-item:not(:last-child) {
  margin-bottom: 16px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.8);
}

.masonry-row1-list-item:active.backdrop {
  display: block;
}
.wrapper {
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 50px 10px;
  }
}

/* Основные стили */

/* Слайдер */
.slick-slider {
  min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 60px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}

.slider__item {
  padding: 0px 15px;
}
.slider__item img {
  max-width: 100%;
}
.slider__item.slick-center {
}
