.more-photo {
  padding-top: 26px;
  background-color: blue;
}
.more-photo__title {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.masonry-row2 {
  display: none;
}
.masonry-row3 {
  display: none;
}
.masonry-row4 {
  display: none;
}
.masonry-row1-list-item:not(:last-child) {
  margin-bottom: 16px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.8);
}

.masonry-row1-list-item:active.backdrop {
  display: block;
}
