.gallery-title {
  font-family: Montserrat;

  font-style: normal;
  font-weight: 700;
  @include font(24px, 30px);
  text-transform: uppercase;
  color: #487996;
  margin-bottom: 16px;
}

.gallery__card-title {
  font-family: Montserrat;
  font-weight: 300;
  margin-top: 8px;
  @include font(16px, 20px);
  color: #487996;
  margin-bottom: 24px;
}
.gallery__card-title_margin-bot {
  margin-bottom: 0;
}

@media screen and (min-width: 768) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 18px);
    margin-top: calc(-1 * 32px);
  }
  .gallery__list-card {
    @include column-alignment(2, 18px, 32px);
  }
}
