.problems {
  font-family: Montserrat;
  padding-top: 50px;
  padding-bottom: 50px;
}
.problems-list {
  display: flex;
  position: relative;
}
.slick-track {
  padding-top: 10px;
  padding-bottom: 10px;
}

.problems-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
  color: #ff7d28;
  text-align: left;
  margin-bottom: 20px;
}
.problems-item {
  padding: 38px 28px;
  background: #383838;
  box-shadow: 0px 4px 27px 7px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  margin: 0 8.5px;
  border: 3px solid #ffaf28;
}
.problems-descriprtion-title {
  background: radial-gradient(14.38% 469.39% at 50% 50%, #ffe791 0%, #ffaf28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 37px;
}

.margin-bottom3 {
  margin-bottom: 16px;
}
.margin-bottom5 {
  margin-bottom: 58px;
}
.problems-descriprtion {
  height: 161px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
}
.problems-description-item1 {
  margin-bottom: 20px;
}

.problems-list.container {
  padding-left: 0;
  padding-right: 0;
}
.slick-prev.slick-arrow {
  position: absolute;
  align-self: bottom;
  left: 5px;
  bottom: -30px;
  background: none;
  border: none;
}
.slick-next.slick-arrow {
  position: absolute;
  align-self: bottom;
  right: 5px;
  bottom: -30px;
  background: none;
  border: none;
}
