.reviews.container {
  background-color: #383838;
}
.reviews__card {
  background-color: #fff;
  min-width: 290px;
  margin: 0 auto;
  padding: 40px 23px;
}
.reviews__profile {
  display: flex;
  margin-bottom: 20px;
}
