<section class="article section">
  <div class="article container">
    <h2 class="article__title">Как чистить дымоход</h2>
    <div class="article__description">
      <p class="article__description_paragraph">
        Вопрос о чистке дымохода, как правило, возникает в тот момент, когда что-то начинает смущать
        или настораживать. То есть, появились проблемы с отводом продуктов горения (подробнее см.
        рис. 1). Дымоход – это конструкция, предназначенная для отведения дымовых газов от
        теплогенератора. Генератором тепла, как правило, является печь, камин или котел. И работа
        дымохода напрямую зависит от состояния агрегата, который превращает топливо в тепло. Поэтому
        часто возникает вопрос: какой специалист занимается обслуживанием дымоходов и
        теплогенерирующего оборудования? Или это два разных мастера?
      </p>
      <div class="img__problems_wrapper">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/article/img_desktop@1x.webp 1x,
              ./images/desktop/article/img_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/article/img_desktop@1x.jpg 1x,
              ./images/desktop/article/img_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/article/img_tablet@1x.webp 1x,
              ./images/tablet/article/img_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/article/img_tablet@1x.jpg 1x,
              ./images/tablet/article/img_tablet@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 768px)"
            srcset="
              ./images/mobile/article/img_mobile@1x.webp 1x,
              ./images/mobile/article/img_mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./images/mobile/article/img_mobile@1x.jpg 1x,
              ./images/mobile/article/img_mobile@2x.jpg 2x
            "
          />

          <img class="img__problems" loading="lazy" src="#" alt="проблемы с дымоходом" />
        </picture>
      </div>
      <p class="img__problems_description">Рис.1 Проблемы с отводом дымовых газов через дымоход</p>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div>
            <h3 class="chapter__title">Услуги печника и профессиональная чистка дымоходов</h3>
          </div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Специалист по борьбе с сажей и прочими засорами в дымоходе, называется
            <strong>трубочист</strong>. Раньше такого мастера называли еще сажотрус. Его основные
            задачи – проверка и <strong>чистка дымохода</strong> печи, камина. Он является не только
            смелым человеком, который не боится «черной» работы, но и знатоком в области продуктов
            горения. С момента появления твердотопливных и газовых котлов, трубочисты занимаются
            обслуживанием дымовых каналов этих агрегатов. Поэтому чистка топки котла – также работа
            для трубочиста.
          </p>
          <p>
            <strong>Печник</strong> – это мастер, который занимается кладкой и ремонтом печей, груб,
            каминов. Однако сегодня к печнику принято обращаться за помощью в решении целого ряда
            проблем, которые могут и не касаться печей и каминов. Современный печник – это уже
            универсальный специалист, имеющий навыки и трубочиста, и мастера по ремонту котлов.
            Профессиональный печник готов предоставить широкий спектр услуг. Среди основных:
          </p>
          <ul>
            <li>монтаж, ремонт, обслуживание твердотопливных котлов;</li>
            <li>установка, ремонт и обслуживание газовых котлов, колонок;</li>
            <li>чистка любых дымоходов;</li>
            <li>чистка вентиляционных каналов;</li>
            <li>чистка теплообменников газовых/твердотопливных котлов;</li>
            <li>чистка печей, груб, каминов, и даже чистка мангалов.</li>
          </ul>
          <p>
            Поэтому, решить проблему с дымоходом может и хороший печник, и опытный трубочист.
            Главное – знать номер квалифицированного специалиста.
          </p>
          <p>
            Профессиональный трубочист точно знает,
            <strong><i>чем можно прочистить дымоход</i></strong
            >, когда и как это делать. Ведь способов и средств существует много. Выбрать подходящее
            <strong><i>средство для чистки дымохода</i></strong> можно самостоятельно, но не стоит
            при этом ориентироваться только на цену, чужой совет или предположение. Обслуживание
            дымоходов и оборудования – не такое простое дело, как может показаться на первый взгляд.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <h3 class="chapter__title">Как выбрать средство для чистки дымохода и котла?</h3>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Итак, приятное и такое необходимое тепло, получаемое вследствие процесса горения, имеет
            обратную сторону. При сгорании любого топлива, образуются побочные продукты. Горячий
            дым, «улетая в трубу» (дымоход), оставляет черный налет. Этот въедливый черный слой
            называется копотью. А сажа – это собственно множественные слои копоти, осевшие на
            поверхности. Принципиальная разница между сажей и копотью заключается в том, что сажа
            может загореться. Поэтому очень важно регулярно чистить сажу и предотвращать ее излишнее
            образование.
          </p>
          <p>
            Профилактика сажеобразования начинается с правильной организации отопительной системы.
            Условно можно выделить следующие этапы:
          </p>
          <ul>
            <li>выбор и установка подходящего оборудования;</li>
            <li>качественная кладка печи/камина;</li>
            <li>профессиональный монтаж дымохода.</li>
          </ul>
          <p>
            Но вышеперечисленные этапы – лишь половина успеха. Соблюдение правил эксплуатации и
            регулярное обслуживание – залог длительной и безопасной работы отопительной систем.
          </p>
          <p>
            <strong><i>Средство для удаления сажи</i></strong> и копоти выбирается в зависимости от
            текущего состояния дымохода и типа оборудования (ведь
            <strong>чистка газового котла/колонки</strong> и
            <strong>чистка камина</strong> принципиально отличаются). Быстро и безошибочно оценить
            обстановку и определить наиболее подходящий способ борьбы с «залежами» может только
            профессиональный <strong>печник</strong>. Его экспертный взгляд необходим даже в том
            случае, если чистку планируется проводить собственными силами. Консультация поможет
            избежать грубых ошибок за счет правильного подбора средств, методов и разъяснения, что в
            какой последовательности необходимо выполнять.
          </p>
          <p>
            <strong><i>Трубочист для чистки дымохода</i></strong> использует, как правило,
            специальные щетки и ерши, так как механический способ удаления засоров наиболее
            востребованный. Это связано, прежде всего, с тем, что владельцы не регулярно прибегают к
            данной процедуре. Поэтому огромные слои сажи, образовавшиеся на стенках агрегатов и
            дымоходов, можно удалить, лишь приложив соответствующие усилия.
          </p>
          <p>
            Для борьбы с въедливыми отложениями механическим методом, нужны следующие инструменты:
          </p>
          <ul>
            <li>
              <strong>специальный ерш</strong>, диаметр которого на 20% больше диаметра дымохода;
            </li>
            <li>
              удлинители для ерша: стальной трос и <strong>груз для чистки сверху вниз</strong>,
              <strong>гибкие палки при чистке снизу вверх</strong>;
            </li>
            <li>дрель или перфоратор для ускорения процесса по возможности;</li>
            <li>емкость для сбора загрязнений или строительный пылесос;</li>
            <li>защитные материалы для предотвращения оседания сажи на окружающих поверхностях.</li>
          </ul>
          <p>
            Кроме того, при организации такого мероприятия, необходимо позаботиться не только о том,
            чем чистить дымоход, но и как сделать это безопасно. Лестница, страховочные тросы –
            обязательные приспособления для механической чистки сверху вниз, то есть когда доступ до
            дымохода осуществляется с крыши здания.
          </p>
          <div class="chapter__block">
            <p class="chapter__block_description">
              Если среди инвентаря нет спец. средств для таких работ, то ни в коем случае не нужно
              использовать самодельные щетки и ершики из подручных материалов. Недопустимо применять
              гантели или прочие предметы, попавшиеся под руку, в качестве грузов. В противном
              случае можно разрушить дымоходную кладку или добавить к засорам еще и «не прокативший»
              утяжелитель (см. рис. 2). Нередко печнику приходится выполнять
              <strong>ремонт печи</strong> именно после неудачной самостоятельной чистки.
            </p>
            <div class="chapter__img_wrapper">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./images/desktop/article/girya@1x.webp 1x,
                    ./images/desktop/article/girya@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./images/desktop/article/girya@1x.jpg 1x,
                    ./images/desktop/article/girya@2x.jpg 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/desktop/article/girya@1x.webp 1x,
                    ./images/desktop/article/girya@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/desktop/article/girya@1x.jpg 1x,
                    ./images/desktop/article/girya@2x.jpg 2x
                  "
                />

                <source
                  media="(max-width: 768px)"
                  srcset="
                    ./images/desktop/article/girya@1x.webp 1x,
                    ./images/desktop/article/girya@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 768px)"
                  srcset="
                    ./images/desktop/article/girya@1x.jpg 1x,
                    ./images/desktop/article/girya@2x.jpg 2x
                  "
                />

                <img
                  class="chapter__img"
                  loading="lazy"
                  src="#"
                  alt="самодельный груз для дымохода"
                />
              </picture>
              <p class="img__problems_description">Рис.2 Самодельный груз для дымохода</p>
            </div>
          </div>
          <p>
            Единственное верное решение для начинающих «трубочистов» в такой ситуации – купить
            качественный и предназначенный для этого инвентарь. Это будет гораздо дешевле, чем
            непредвиденный ремонт или дополнительные услуги трубочиста. И, конечно, обзаведясь всем
            необходимым для собственноручной борьбы с засорами, или обращаясь за помощью к
            трубочисту, главное это делать регулярно. Ориентироваться можно на следующие
            рекомендации:
          </p>

          <ul>
            <li>
              <strong>чистка печи/грубы</strong> должна производиться дважды за период отопления
              (вначале и в конце сезона);
            </li>
            <li><strong>чистка камина</strong> может осуществляться один раз в год;</li>
            <li>
              <strong>чистка вентиляции</strong> проводится каждые полгода при использовании
              принудительных систем, или раз в два года для естественных систем;
            </li>
            <li>
              <strong>чистика твердотопливных котлов</strong> потребуется гораздо чаще – раз в
              два-три месяца, чтобы избежать перерасхода сырья, прогорания стенок агрегата,
              предотвратить снижение его эффективности.
            </li>
          </ul>
          <p>
            Соответственно, <strong>чистка дымохода</strong>, а точнее частота ее проведения, будет
            напрямую зависеть от устройства, сырья и сроков эксплуатации системы.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div><h3 class="chapter__title">Химический очиститель сажи</h3></div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Если ситуация не доведена еще до критического состояния, то можно использовать
            химическое <strong><i>средство для удаления сажи из дымоходов</i></strong> (см. рис.3).
            Сжигая вместе с сырьем специальные катализирующие вещества, можно добиться выгорания
            смолистых веществ и сажи, за счет снижения температуры, необходимой для их распада.
            Добавление таких гранул, брикетов помогает очистить стенки теплообменника
            твердотопливного котла и дымохода, что в свою очередь улучшает работу отопительной
            установки, повышает ее эффективность.
          </p>
          <div class="img__problems_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/cleaning-products@1x.webp 1x,
                  ./images/desktop/article/cleaning-products@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/cleaning-products@1x.jpg 1x,
                  ./images/desktop/article/cleaning-products@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/cleaning-products@1x.webp 1x,
                  ./images/tablet/article/cleaning-products@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/cleaning-products@1x.jpg 1x,
                  ./images/tablet/article/cleaning-products@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/cleaning-products@1x.webp 1x,
                  ./images/mobile/article/cleaning-products@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/cleaning-products@1x.jpg 1x,
                  ./images/mobile/article/cleaning-products@2x.jpg 2x
                "
              />

              <img
                class="img__problems"
                loading="lazy"
                src="#"
                alt="Средства для удаления сажи из дымоходов"
              />
            </picture>
          </div>
          <p class="img__problems_description">Рис.3 Средства для удаления сажи из дымоходов</p>
          <p>
            Обработанные каталитическим составом поленья, используют как
            <strong><i>средство для чистки каминов</i></strong
            >, печей, мангалов. Подбрасывая их в огонь регулярно, можно наслаждаться теплом и уютом
            возле камина/печи длительное время без хлопот и вреда для помещения, а также готовить
            вкусные блюда на мангале. Не лишним будет еще раз обратить внимание на то, что
            химический метод очистки подходит больше в качестве профилактики, регулярного ухода.
            Применять химическое средство как <strong><i>очиститель от сажи</i></strong
            >, которая занимает практически весь просвет дымохода – плохая идея. В результате
            химической реакции, большие куски отложений могут просто отваливаться и тем самым
            забивать дымоотводный канал, полностью перекрывать его. Объемные засоры при воздействии
            катализатора могут попросту загореться и стать причиной пожара. Поэтому рассчитывать на
            легкое избавление от сложных «налетов» не стоит.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <h3 class="chapter__title">Бюджетное средство для чистки дымохода от сажи</h3>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Когда нет возможности оплатить услуги трубочиста или
            <strong><i>купить средство для чистки дымохода</i></strong
            >, на помощь приходят народные методы. Актуальность любого из них зависит от ситуации.
            Например, картофельные очистки, а порой и просто нарезанный картофель, предлагают
            использовать как самое простое и экономичное
            <strong><i>средство для чистки печей от сажи</i></strong
            >. Забрасывая в топку эти пищевые отходы, которые имеются в каждом доме, можно заодно и
            о дымоходе позаботиться. Стоит оговориться лишь о том, что делать так надо постоянно,
            очисток добавлять побольше (от пол ведра за раз), и ожидать мгновенного результата не
            нужно. Еще один продукт – соль – также позиционируется как
            <strong><i>очиститель дымохода</i></strong
            >. При использовании дров в качестве сырья, их можно предварительно посыпать солью. Это
            избавляет от излишней влаги, а также помогает разрушать образовавшиеся слои сажи. А вот
            осиновые поленья и скорлупу грецких орехов применять как
            <strong><i>очиститель дымохода от сажи</i></strong>
            необходимо под пристальным контролем. Ведь они способствуют увеличению температуры
            горения, что может стать причиной возгорания тех самых отложений в дымоходном канале. А
            чтобы <strong>почистить дымоход в бане</strong>, прибегают к простому розжигу без
            каких-либо добавок.
          </p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <h3 class="chapter__title">Трубочист – средство для чистки дымохода №1</h3>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.webp 1x,
                  ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/arrow-down@1x.png 1x,
                  ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.webp 1x,
                  ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/arrow-down@1x.png 1x,
                  ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.webp 1x,
                  ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/arrow-down@1x.png 1x,
                  ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Перед началом каждого отопительного сезона, а также перед розжигом системы, используемой
            время от времени, необходимо проводить ревизию. Чистить зольник, проверять дымоход на
            наличие посторонних предметов (листьев, веток, птиц и т.п.), осматривать устройство для
            своевременного устранения трещин (см. рис.4), прогоревших элементов конструкции и прочих
            дефектов, определять необходимость капитальной чистки и выбирать оптимальный
            <strong><i>очиститель дымохода от сажи</i></strong> на предстоящий период топки.
          </p>
          <div class="img__problems_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/ruined-chimney@1x.webp 1x,
                  ./images/desktop/article/ruined-chimney@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./images/desktop/article/ruined-chimney@1x.jpg 1x,
                  ./images/desktop/article/ruined-chimney@2x.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/ruined-chimney@1x.webp 1x,
                  ./images/tablet/article/ruined-chimney@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/article/ruined-chimney@1x.jpg 1x,
                  ./images/tablet/article/ruined-chimney@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/ruined-chimney@1x.webp 1x,
                  ./images/mobile/article/ruined-chimney@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ./images/mobile/article/ruined-chimney@1x.jpg 1x,
                  ./images/mobile/article/ruined-chimney@2x.jpg 2x
                "
              />

              <img class="img__problems" loading="lazy" src="#" alt="Проблемы с дымоходом" />
            </picture>
          </div>
          <p class="img__problems_description">Рис.4 Проблемы с дымоходом</p>
          <p>
            Владелец котла, печи или камина может поддерживать чистоту и порядок оборудования
            собственноручно, если на это есть время и процесс не доставляет изрядных неудобств.
          </p>
          <p>
            Конечно, эффективнее и надежнее всего – обратиться за помощью к специалисту своего дела.
            Однако следует помнить, что за свои <strong>услуги печник</strong> не может попросить
            очень низкую плату. Если же кто-то обещает выполнить такой трудоемкий и непростой
            процесс за «три копейки», стоит усомниться в профессионализме исполнителя и не доверять
            ему собственную жизнь.
          </p>
          <p>
            И в то же время, проведя даже грандиозную чистку отопительной установки, не стоит
            отказываться от использования вспомогательных средств по уходу за дымоходом и
            оборудованием. <strong><i>Чем прочистить дымоход от сажи</i></strong
            >, которая появиться в кратчайшие сроки после начала отопительного сезона, зависит от
            личных предпочтений: химическим средствами для чистки или терпением и картофельной
            кожурой. Главное, чтобы <strong><i>средство для чистки дымоходов</i></strong> не
            выбиралось как более дешевый способ чистки взамен качественной, профессиональной услуге
            от опытного трубочиста. Ведь чистка дымовых и вентиляционных каналов, а также котлов,
            печей и каминов – это не только избавление от ненужного скопления сажи и копоти, а
            недопущение лишних расходов на сырье, предотвращение пожароопасной ситуации, гарантия
            безопасности.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
