<section class="before-and-after section">
  <div class="container">
    <h2 class="before-and-after__title" id="before-and-after__title">Результат нашей работы</h2>
    <div class="before-and-after__wrapper">
      <!-- ------------------------------1--------------------------------- -->
      <div class="block">
        <div class="block-wrapper first">
          <div class="before-and-after__description-wrapper">
            <p class="before-and-after__description">До</p>
          </div>
          <div class="before-and-after__img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/before-after/Before.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/before-after/before-tablet.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/before-after/Before.jpg 1x"
              />
              <img class="beforeAfter-img" loading="lazy" src="#" alt="black smoke" />
            </picture>
          </div>
        </div>
        <div class="before-and-after__img-arrow-wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/desktop/before-after/arrow.png 1x"
            />
            <source media="(min-width: 768px)" srcset="./images/tablet/before-after/arrow.png 1x" />
            <source media="(max-width: 767px)" srcset="./images/mobile/before-after/arrow.png 1x" />
            <img class="beforeAfter-img" loading="lazy" src="#" alt="black smoke" />
          </picture>
        </div>
        <div class="block-wrapper second">
          <div class="before-and-after__description-wrapper">
            <p class="before-and-after__description">После</p>
          </div>
          <div class="before-and-after__img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="images/desktop/before-after/after.jpg 1x"
              />
              <source media="(min-width: 768px)" srcset="images/tablet/before-after/after.jpg 1x" />
              <source media="(max-width: 767px)" srcset="images/mobile/before-after/After.jpg 1x" />
              <img class="beforeAfter-img" loading="lazy" src="#" alt="black smoke" />
            </picture>
          </div>
        </div>
      </div>
      <!-- --------------------------------2------------------------------------- -->
      <div class="block">
        <div class="block-wrapper first">
          <div class="before-and-after__description-wrapper">
            <p class="before-and-after__description">До</p>
          </div>
          <div class="before-and-after__img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/before-after/before1.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/before-after/before1.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/before-after/before1.jpg 1x"
              />
              <img class="beforeAfter-img" loading="lazy" src="#" alt="black smoke" />
            </picture>
          </div>
        </div>
        <div class="before-and-after__img-arrow-wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/desktop/before-after/arrow.png 1x"
            />
            <source media="(min-width: 768px)" srcset="./images/tablet/before-after/arrow.png 1x" />
            <source media="(max-width: 767px)" srcset="./images/mobile/before-after/arrow.png 1x" />
            <img class="beforeAfter-img" loading="lazy" src="#" alt="black smoke" />
          </picture>
        </div>
        <div class="block-wrapper second">
          <div class="before-and-after__description-wrapper">
            <p class="before-and-after__description">После</p>
          </div>
          <div class="before-and-after__img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="images/desktop/before-after/after1.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="images/tablet/before-after/after1.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/before-after/after1.jpg 1x"
              />
              <img class="beforeAfter-img" loading="lazy" src="#" alt="black smoke" />
            </picture>
          </div>
        </div>
      </div>
      <!-- ---------------------------------------3----------------------------------- -->
      <div class="block">
        <div class="block-wrapper first">
          <div class="before-and-after__description-wrapper">
            <p class="before-and-after__description">До</p>
          </div>
          <div class="before-and-after__img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/before-after/before2.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/before-after/before2.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/before-after/before2.jpg 1x"
              />
              <img class="beforeAfter-img" loading="lazy" src="#" alt="black smoke" />
            </picture>
          </div>
        </div>
        <div class="before-and-after__img-arrow-wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/desktop/before-after/arrow.png 1x"
            />
            <source media="(min-width: 768px)" srcset="./images/tablet/before-after/arrow.png 1x" />
            <source media="(max-width: 767px)" srcset="./images/mobile/before-after/arrow.png 1x" />
            <img class="beforeAfter-img" loading="lazy" src="#" alt="black smoke" />
          </picture>
        </div>
        <div class="block-wrapper second">
          <div class="before-and-after__description-wrapper">
            <p class="before-and-after__description">После</p>
          </div>
          <div class="before-and-after__img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="images/desktop/before-after/after2.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="images/tablet/before-after/after2.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="images/mobile/before-after/after2.jpg 1x"
              />
              <img class="beforeAfter-img" loading="lazy" src="#" alt="black smoke" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
