<section class="instruments section">
  <div class="instruments container">
    <h2 class="instruments__title">
      Використовувані інструменти та матеріали для чищення димоходу
    </h2>
    <div class="instruments-wrapper">
      <div class="instruments__block">
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/instruments/vacuum-cleaner.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/instruments/vacuum-cleaner.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/instruments/vacuum-cleaner.jpg 1x"
              />
              <img class="vacuum-cleaner" loading="lazy" src="#" alt="порохотяг" />
            </picture>
            <p class="instruments-description-drop">Порохотяг</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Порохотяг</p>
          </div>
        </div>
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/instruments/sinker.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/instruments/sinker.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/instruments/sinker.jpg 1x"
              />
              <img class="sinker" loading="lazy" src="#" alt="Йорш із грузилом" />
            </picture>
            <p class="instruments-description-drop">Йорш із грузилом</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Йорш із грузилом</p>
          </div>
        </div>
      </div>
      <div class="instruments__block">
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/instruments/brush.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/instruments/brush.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/instruments/brush.jpg 1x"
              />
              <img class="brush" loading="lazy" src="#" alt="Йорш з ручками" />
            </picture>
            <p class="instruments-description-drop">Йорш з ручками</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Йорш з ручками</p>
          </div>
        </div>
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="images/desktop/instruments/ladder.jpg 1x"
              />
              <source media="(min-width: 768px)" srcset="images/tablet/instruments/ladder.jpg 1x" />
              <source media="(max-width: 767px)" srcset="images/mobile/instruments/ladder.jpg 1x" />
              <img class="ladder" loading="lazy" src="#" alt="Сходи" />
            </picture>
            <p class="instruments-description-drop">Сходи</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Сходи</p>
          </div>
        </div>
      </div>
      <div class="instruments__block">
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="./images/desktop/instruments/scaffolding.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/instruments/scaffolding.jpg 1x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/instruments/scaffolding.jpg 1x"
              />
              <img class="scaffolding" loading="lazy" src="#" alt="Вишка Тура" />
            </picture>
            <p class="instruments-description-drop">Вишка Тура</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Вишка Тура</p>
          </div>
        </div>
        <div class="instruments__block-wrapper">
          <div class="instruments-img-wrapper">
            <picture>
              <source media="(min-width: 1440px)" srcset="images/desktop/instruments/film.jpg 1x" />
              <source media="(min-width: 768px)" srcset="images/tablet/instruments/film.jpg 1x" />
              <source media="(max-width: 767px)" srcset="images/mobile/instruments/film.jpg 1x" />
              <img class="film" loading="lazy" src="#" alt="Плівка" />
            </picture>
            <p class="instruments-description-drop">Плівка</p>
          </div>
          <div class="instruments-description-wrapper">
            <p class="instruments-description">Плівка</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
