<section class="price">
  <div class="price container">
    <h2 class="price__title" id="price">Прайс</h2>
    <ul class="price__list list">
      <li class="price__item">
        <p class="price__item-title">Консультація по телефону</p>
        <div class="price__item-service">
          <p class="price__cost">БЕЗКОШТОВНО</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Замовити послугу</a
          >
        </div>
      </li>
      <li class="price__item">
        <p class="price__item-title">Виїзд на об'єкт з візуальним обстеженням димоходу</p>
        <div class="price__item-service">
          <p class="price__cost">600 грн</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Замовити послугу</a
          >
        </div>
      </li>
      <li class="price__item">
        <p class="price__item-title">Чищення вертикальної ділянки димаря діаметром до 150 мм.</p>
        <div class="price__item-service">
          <p class="price__cost">від 200 грн</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Замовити послугу</a
          >
        </div>
      </li>
      <li class="price__item">
        <p class="price__item-title">Видалення завалів, у димарі або вентиляційному каналі</p>
        <div class="price__item-service">
          <p class="price__cost">від 1000 грн</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Замовити послугу</a
          >
        </div>
      </li>
      <li class="price__item">
        <p class="price__item-title">Акт обстеження та чищення димоходу (акт пічника)</p>
        <div class="price__item-service">
          <p class="price__cost">від 800 грн</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Замовити послугу</a
          >
        </div>
      </li>
      <li class="price__item">
        <p class="price__item-title">Пробування димоходу</p>
        <div class="price__item-service">
          <p class="price__cost">від 100-1500 грн</p>
          <a href="#consultation__title" class="price__link button link" data-modal-open
            >Замовити послугу</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
