<section class="problems">
  <div class="problems-container">
    <h2 class="problems-title container">Проблеми самостійного чищення димаря</h2>
    <ul class="problems-list container list">
      <li class="problems-item width">
        <h3 class="problems-descriprtion-title margin-bottom1">Нестандартні типи забруднень</h3>

        <div class="problems-descriprtion">
          <p class="problems-description-item1">Роль пічника</p>
          <p class="problems-description-item2">
            Пічник легко впорається з подібним завданням без страху та паніки
          </p>
        </div>
      </li>
      <li class="problems-item width">
        <h3 class="problems-descriprtion-title margin-bottom2">Пошкодження димаря</h3>
        <div class="problems-descriprtion">
          <p class="problems-description-item1">Роль пічника</p>
          <p class="problems-description-item2">
            Досвід та практичні навички пічника виключають можливість пошкодити димохідний канал.
          </p>
        </div>
      </li>
      <li class="problems-item width">
        <h3 class="problems-descriprtion-title margin-bottom3">
          Забруднення навколишнього простору
        </h3>
        <div class="problems-descriprtion">
          <p class="problems-description-item1">Роль пічника</p>
          <p class="problems-description-item2">
            Для чистоти виконання робіт, професійний сажотрус використовує спеціальний промисловий
            пилосос
          </p>
        </div>
      </li>
      <li class="problems-item width">
        <h3 class="problems-descriprtion-title margin-bottom4">
          Неправильно вибраний метод чищення
        </h3>
        <div class="problems-descriprtion">
          <p class="problems-description-item1">Роль пічника</p>
          <p class="problems-description-item2">
            Майстер здатний визначити ступінь та тип забруднення димоходу та підібрати оптимальний
            тип чищення
          </p>
        </div>
      </li>
      <li class="problems-item width">
        <h3 class="problems-descriprtion-title margin-bottom5">Травматизація</h3>
        <div class="problems-descriprtion">
          <p class="problems-description-item1">Роль пічника</p>
          <p class="problems-description-item2">
            Пічник знає, яких заходів безпеки слід дотримуватись при виконанні такої відповідальної
            роботи
          </p>
        </div>
      </li>
      <li class="problems-item width">
        <h3 class="problems-descriprtion-title margin-bottom6">Невідповідні матеріали</h3>
        <div class="problems-descriprtion">
          <p class="problems-description-item1">Роль пічника</p>
          <p class="problems-description-item2">
            Весь набір необхідних інструментів, різних за параметрами, має лише професіонал.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
