<section class="service">
  <div class="servise container">
    <h2 class="service__title">Як замовити послуги</h2>
    <div class="service-wrapper">
      <ul class="service-steps list">
        <li class="service-step first">
          <div class="service-step-img">
            <picture>
              <source media="(min-width: 1440px)" srcset="images/desktop/service/mobile.png 1x" />
              <source media="(min-width: 768px)" srcset="images/tablet/service/mobile.png 1x" />
              <source media="(max-width: 767px)" srcset="images/mobile/service/mobile.png 1x" />
              <img class="mobile" loading="lazy" src="#" alt="залишити заявку" />
            </picture>
          </div>
          <div class="service-step-deskription width1">
            <h3 class="service-step-description-title">Заявка</h3>
            <p class="service-step-description-desk bot">
              Ви залишаєте заявку на виклик спеціаліста.
            </p>
            <a
              href="#form-call-back__title"
              id="service-btn"
              class="service-btn button link"
              data-modal-open
              >Залишити заявку</a
            >
          </div>
        </li>
        <li class="service-step second">
          <div class="service-step-img">
            <picture>
              <source media="(min-width: 1440px)" srcset="images/desktop/service/car.png 1x" />
              <source media="(min-width: 768px)" srcset="images/tablet/service/car.png 1x" />
              <source media="(max-width: 767px)" srcset="images/mobile/service/car.png 1x" />
              <img class="car" loading="lazy" src="#" alt="Виклик майстра" />
            </picture>
          </div>
          <div class="service-step-deskription width2">
            <h3 class="service-step-description-title title-absolute">Виклик майстра</h3>
            <p class="service-step-description-desk padding-top">
              Наш майстер виїжджає до Вас на об'єкт.
            </p>
          </div>
        </li>
        <li class="service-step therd">
          <div class="service-step-img">
            <picture>
              <source media="(min-width: 1440px)" srcset="images/desktop/service/clean.png 1x" />
              <source media="(min-width: 768px)" srcset="images/tablet/service/clean.png 1x" />
              <source media="(max-width: 767px)" srcset="images/mobile/service/clean.png 1x" />
              <img class="clean" loading="lazy" src="#" alt="Чищення" />
            </picture>
          </div>
          <div class="service-step-deskription width3">
            <h3 class="service-step-description-title">Чищення</h3>
            <p class="service-step-description-desk">
              Фахівець, використовуючи професійне обладнання, здійснює ретельне очищення димаря від
              сажі.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
