<section class="video-blog section">
  <div class="container">
    <h2 class="video-blog__title">Процес чищення димоходу та котла від фахівців</h2>

    <ul class="video-blog__list list">
      <li class="video video5" data-src="https://www.youtube.com/embed/K1YFHhPq7rc?autoplay=1"></li>
      <li class="video video6" data-src="https://www.youtube.com/embed/l3wK1RkvVhI?autoplay=1"></li>
      <li class="video video7" data-src="https://www.youtube.com/embed/VbUIjAZe3MU?autoplay=1"></li>
      <li class="video video8" data-src="https://www.youtube.com/embed/kRR06SFB7Qg?autoplay=1"></li>
    </ul>
  </div>
</section>
