<section class="consultation section">
  <div class="container">
    <h2 class="consultation__title" id="consultation__title">
      Закажите бесплатную консультацию специалиста!
    </h2>
    <div class="success" id="success">Заявка отправлена!</div>
    <form class="consultation__form" id="consultation__form">
      <div class="modal-form__input-wrapper">
        <input
          class="modal-form__input"
          minlength="2"
          type="text"
          name="username"
          id="form-username"
          placeholder="Имя"
          required
        />

        <p class="error"></p>
      </div>
      <div class="modal-form__input-wrapper">
        <input
          class="modal-form__input"
          type="tel"
          name="telephon"
          id="form-telephon"
          placeholder="Ваш телефон"
          required
        />

        <p class="errorTel"></p>
      </div>
      <button class="consultation__form-button submit" type="submit">Отправить</button>
    </form>
  </div>
</section>
