<footer class="footer">
  <div class="footer-container container">
    <picture>
      <source media="(min-width: 1440px)" srcset="./images/desktop/header/logo1.png 1x" />
      <source media="(min-width: 768px)" srcset="./images/tablet/header/logo1.png 1x" />
      <source media="(max-width: 767px)" srcset="./images/mobile/header/logo1.png 1x" />
      <img class="footer-logo" src="#" alt="Logotip" />
    </picture>
    <div class="footer__all-contacts">
      <div class="footer__contacts_wrapper">
        <div class="footer__contacts">
          <p class="footer__contact-title">Информация</p>
          <ul class="footer__contact list">
            <li class="footer__contact-item">
              <a href="./index.html" rel="noopener noreferrer" class="footer__contact-link link">
                Главная
              </a>
            </li>
            <li class="footer__contact-item">
              <a href="#" rel="noopener noreferrer" class="footer__contact-link link"> О нас </a>
            </li>
            <li class="footer__contact-item">
              <a href="#" rel="noopener noreferrer" class="footer__contact-link link"> Контакты </a>
            </li>
            <li class="footer__contact-item">
              <a href="#" rel="noopener noreferrer" class="footer__contact-link link">
                Карта сайта
              </a>
            </li>

            <li class="footer__contact-item">
              <a href="#" rel="noopener noreferrer" class="footer__contact-link link">
                Полезные статьи
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__soc">
        <p class="footer__soc-title">Пишите нам</p>
        <ul class="footer__soc-list list">
          <li class="footer__soc-item">
            <a
              class="link-viber link"
              rel="nofollow noopener noreferrer"
              href="viber://add?number=%2B380671562638"
            >
              <picture>
                <source media="(min-width: 1440px)" srcset="./images/desktop/footer/viber.png 1x" />
                <source media="(min-width: 768px)" srcset="./images/tablet/footer/viber.png 1x" />
                <source media="(max-width: 767px)" srcset="./images/mobile/footer/viber.png 1x" />
                <img class="img-viber" loading="lazy" src="#" alt="присоединяйтесь к viber" />
              </picture>
            </a>
          </li>
          <li class="footer__soc-item">
            <a
              class="link-telegram link"
              rel="nofollow noopener noreferrer"
              href="https://t.me/SFERA_N_A"
            >
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="./images/desktop/footer/telega.png 1x"
                />
                <source media="(min-width: 768px)" srcset="./images/tablet/footer/telega.png 1x" />
                <source media="(max-width: 767px)" srcset="./images/mobile/footer/telega.png 1x" />
                <img class="img-telega" loading="lazy" src="#" alt="присоединяйтесь к telegram" />
              </picture>
            </a>
          </li>
          <li class="footer__soc-item">
            <a
              class="link-fb link"
              rel="nofollow noopener noreferrer"
              href="https://www.facebook.com/sfera.trybochist/"
            >
              <picture>
                <source media="(min-width: 1440px)" srcset="./images/desktop/footer/fb.png 1x" />
                <source media="(min-width: 768px)" srcset="./images/tablet/footer/fb.png 1x" />
                <source media="(max-width: 767px)" srcset="./images/mobile/footer/fb.png 1x" />
                <img class="img-fb" loading="lazy" src="#" alt="присоединяйтесь к facebook" />
              </picture>
            </a>
          </li>
          <li class="footer__soc-item">
            <a
              class="link-telegram link"
              href="https://www.instagram.com/sfera.trybochist/?utm_medium=copy_link"
              rel="nofollow noopener noreferrer"
              target="_blank"
            >
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="./images/desktop/footer/instagram.png 1x"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="./images/tablet/footer/instagram.png 1x"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="./images/mobile/footer/instagram.png 1x"
                />
                <img class="img-telega" loading="lazy" src="#" alt="присоединяйтесь к instagram" />
              </picture>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="copyright">
      <span class="perenos">COPYRIGHT 2023 sfera-trybochist.com,</span> ALL RIGHT RESERVED
    </p>
  </div>
</footer>
