<section class="products">
  <div class="container">
    <h2 class="products__title">Средства для чистки дымоходов</h2>
    <ul class="list-card list">
      <!-- <li class="list-card__item">
      <div class="list-card__link">
        <div class="list-card__image-wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/advantage/icon_clean@1x.webp 1x,
                ./images/desktop/advantage/icon_clean@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/advantage/icon_clean@1x.png 1x,
                ./images/desktop/advantage/icon_clean@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/advantage/icon_clean@1x.webp 1x,
                ./images/tablet/advantage/icon_clean@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/advantage/icon_clean@1x.png 1x,
                ./images/tablet/advantage/icon_clean@2x.png 2x
              "
            />

            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/advantage/icon_clean@1x.webp 1x,
                ./images/mobile/advantage/icon_clean@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/advantage/icon_clean@1x.png 1x,
                ./images/mobile/advantage/icon_clean@2x.png 2x
              "
            />

            <img loading="lazy" src="#" alt="иконка чистки дымохода" />
          </picture>
        </div>
        <div class="list-card__content">
          <h2 class="list-card__title">
            Полено для чистки дымоходов Hansa Полено-Трубочист(1,1кг)
          </h2>
          <div class="list-card__pay">
            <p class="list-card__text">120 грн</p>
            <button type="button">Купить</button>
          </div>
        </div>
      </div>
    </li> -->
    </ul>
  </div>
</section>
