<section class="video-blog section">
  <div class="container">
    <h2 class="video-blog__title">Процесс чистки дымохода и котла от специалистов</h2>

    <ul class="video-blog__list list">
      <li class="video video1" data-src="https://www.youtube.com/embed/K1YFHhPq7rc?autoplay=1"></li>
      <li class="video video2" data-src="https://www.youtube.com/embed/l3wK1RkvVhI?autoplay=1"></li>
      <li class="video video3" data-src="https://www.youtube.com/embed/VbUIjAZe3MU?autoplay=1"></li>
      <li class="video video4" data-src="https://www.youtube.com/embed/kRR06SFB7Qg?autoplay=1"></li>
    </ul>
  </div>
</section>
