<section class="additional-service section">
  <div class="additional-service container">
    <h2 class="additional-service__title" id="additional-service">Услуги по чистке</h2>
    <ul class="additional-service__list list">
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_2@1x.webp 1x,
                ./images/desktop/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_2@1x.jpg 1x,
                ./images/desktop/additional-service/img_2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_2@1x.webp 1x,
                ./images/tablet/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_2@1x.jpg 1x,
                ./images/tablet/additional-service/img_2@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_2@1x.webp 1x,
                ./images/mobile/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_2@1x.jpg 1x,
                ./images/mobile/additional-service/img_2@2x.jpg 2x
              "
            />
            <img class="сrack-repair" loading="lazy" src="#" alt="Чистка печи" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./chistka-pechi.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Чистка печи</h3>
          </a>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_3@1x.webp 1x,
                ./images/desktop/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_3@1x.jpg 1x,
                ./images/desktop/additional-service/img_3@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_3@1x.webp 1x,
                ./images/tablet/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_3@1x.jpg 1x,
                ./images/tablet/additional-service/img_3@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_3@1x.webp 1x,
                ./images/mobile/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_3@1x.jpg 1x,
                ./images/mobile/additional-service/img_3@2x.jpg 2x
              "
            />
            <img class="replacement-of-fittings" loading="lazy" src="#" alt="груба" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./chistka-grubi.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Чистка грубы</h3>
          </a>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/chistka_dimoxoda@1x.webp 1x,
                ./images/desktop/additional-service/chistka_dimoxoda@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/chistka_dimoxoda@1x.jpg 1x,
                ./images/desktop/additional-service/chistka_dimoxoda@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/chistka_dimoxoda@1x.webp 1x,
                ./images/tablet/additional-service/chistka_dimoxoda@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/chistka_dimoxoda@1x.jpg 1x,
                ./images/tablet/additional-service/chistka_dimoxoda@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/chistka_dimoxoda@1x.webp 1x,
                ./images/mobile/additional-service/chistka_dimoxoda@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/chistka_dimoxoda@1x.jpg 1x,
                ./images/mobile/additional-service/chistka_dimoxoda@2x.jpg 2x
              "
            />
            <img class="cleaning-the-fireplace" loading="lazy" src="#" alt="Чистка дымохода" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./index.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Чистка дымохода</h3>
          </a>

          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/uslugi-trubochista@1x.webp 1x,
                ./images/desktop/additional-service/uslugi-trubochista@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/uslugi-trubochista@1x.jpg 1x,
                ./images/desktop/additional-service/uslugi-trubochista@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/uslugi_trubochista_tablet@1x.webp 1x,
                ./images/tablet/additional-service/uslugi_trubochista_tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/uslugi_trubochista_tablet@1x.jpg 1x,
                ./images/tablet/additional-service/uslugi_trubochista_tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/uslugi-trubochista_mobile@1x.webp 1x,
                ./images/mobile/additional-service/uslugi-trubochista_mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/uslugi-trubochista_mobile@1x.jpg 1x,
                ./images/mobile/additional-service/uslugi-trubochista_mobile@2x.jpg 2x
              "
            />
            <img class="cleaning-the-fireplace" loading="lazy" src="#" alt="Услуги трубочиста" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./chimney-sweep-services.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Услуги трубочиста</h3>
          </a>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/uslugi_pechnika@1x.webp 1x,
                ./images/desktop/additional-service/uslugi_pechnika@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/uslugi_pechnika@1x.jpg 1x,
                ./images/desktop/additional-service/uslugi_pechnika@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/uslugi_pechnika_tablet@1x.webp 1x,
                ./images/tablet/additional-service/uslugi_pechnika_tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/uslugi_pechnika_tablet@1x.jpg 1x,
                ./images/tablet/additional-service/uslugi_pechnika_tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/uslugi_pechnika_mobile@1x.webp 1x,
                ./images/mobile/additional-service/uslugi_pechnika_mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/uslugi_pechnika_mobile@1x.jpg 1x,
                ./images/mobile/additional-service/uslugi_pechnika_mobile@2x.jpg 2x
              "
            />
            <img class="cleaning-the-fireplace" loading="lazy" src="#" alt="Услуги печника" />
          </picture>
        </div>
        <div class="additional-service__description">
          <a href="./uslugi-pechnika.html" rel="noopener noreferrer">
            <h3 class="additional-service__name">Услуги печника</h3>
          </a>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <!-- <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_1@1x.webp 1x,
                ./images/desktop/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_1@1x.jpg 1x,
                ./images/desktop/additional-service/img_1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_1@1x.webp 1x,
                ./images/tablet/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_1@1x.jpg 1x,
                ./images/tablet/additional-service/img_1@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_1@1x.webp 1x,
                ./images/mobile/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_1@1x.jpg 1x,
                ./images/mobile/additional-service/img_1@2x.jpg 2x
              "
            />
            <img class="cleaning-the-fireplace" loading="lazy" src="#" alt="Чистка вентиляции" />
          </picture>
        </div>
        <div class="additional-service__description">
          <h3 class="additional-service__name">Чистка вентиляции</h3>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_2@1x.webp 1x,
                ./images/desktop/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_2@1x.jpg 1x,
                ./images/desktop/additional-service/img_2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_2@1x.webp 1x,
                ./images/tablet/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_2@1x.jpg 1x,
                ./images/tablet/additional-service/img_2@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_2@1x.webp 1x,
                ./images/mobile/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_2@1x.jpg 1x,
                ./images/mobile/additional-service/img_2@2x.jpg 2x
              "
            />
            <img class="сrack-repair" loading="lazy" src="#" alt="Установка дымохода" />
          </picture>
        </div>
        <div class="additional-service__description">
          <h3 class="additional-service__name">Установка дымохода</h3>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_3@1x.webp 1x,
                ./images/desktop/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_3@1x.jpg 1x,
                ./images/desktop/additional-service/img_3@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_3@1x.webp 1x,
                ./images/tablet/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_3@1x.jpg 1x,
                ./images/tablet/additional-service/img_3@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_3@1x.webp 1x,
                ./images/mobile/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_3@1x.jpg 1x,
                ./images/mobile/additional-service/img_3@2x.jpg 2x
              "
            />
            <img
              class="replacement-of-fittings"
              loading="lazy"
              src="#"
              alt="Гильзование дымохода"
            />
          </picture>
        </div>
        <div class="additional-service__description">
          <h3 class="additional-service__name">Гильзование дымохода</h3>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_1@1x.webp 1x,
                ./images/desktop/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_1@1x.jpg 1x,
                ./images/desktop/additional-service/img_1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_1@1x.webp 1x,
                ./images/tablet/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_1@1x.jpg 1x,
                ./images/tablet/additional-service/img_1@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_1@1x.webp 1x,
                ./images/mobile/additional-service/img_1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_1@1x.jpg 1x,
                ./images/mobile/additional-service/img_1@2x.jpg 2x
              "
            />
            <img class="cleaning-the-fireplace" loading="lazy" src="#" alt="Чистка камина" />
          </picture>
        </div>
        <div class="additional-service__description">
          <h3 class="additional-service__name">Чистка камина</h3>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_2@1x.webp 1x,
                ./images/desktop/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_2@1x.jpg 1x,
                ./images/desktop/additional-service/img_2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_2@1x.webp 1x,
                ./images/tablet/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_2@1x.jpg 1x,
                ./images/tablet/additional-service/img_2@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_2@1x.webp 1x,
                ./images/mobile/additional-service/img_2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_2@1x.jpg 1x,
                ./images/mobile/additional-service/img_2@2x.jpg 2x
              "
            />
            <img class="сrack-repair" loading="lazy" src="#" alt="Чистка печи" />
          </picture>
        </div>
        <div class="additional-service__description">
          <h3 class="additional-service__name">Чистка печи</h3>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li>
      <li class="additional-service__list-item">
        <div class="additional-service__img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_3@1x.webp 1x,
                ./images/desktop/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/additional-service/img_3@1x.jpg 1x,
                ./images/desktop/additional-service/img_3@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_3@1x.webp 1x,
                ./images/tablet/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/additional-service/img_3@1x.jpg 1x,
                ./images/tablet/additional-service/img_3@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_3@1x.webp 1x,
                ./images/mobile/additional-service/img_3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./images/mobile/additional-service/img_3@1x.jpg 1x,
                ./images/mobile/additional-service/img_3@2x.jpg 2x
              "
            />
            <img
              class="replacement-of-fittings"
              loading="lazy"
              src="#"
              alt="Замена фурнитуры печи"
            />
          </picture>
        </div>
        <div class="additional-service__description">
          <h3 class="additional-service__name">Чистка грубы</h3>
          <a
            href="#form-call-back__title"
            class="additional-service__link link button"
            rel="nofollow noopener noreferrer"
            data-modal-open
            >Заказать услугу</a
          >
        </div>
      </li> -->
    </ul>
  </div>
</section>
