<section class="article section">
  <div class="article container">
    <h2 class="article__title pechi_ru">Как почистить печь от сажи</h2>
    <div class="article__description">
      
      <p class="article__description_paragraph">
        Сегодня для отопления помещений, приготовления пищи, а также термической обработки различных материалов используют разные устройства и агрегаты. Они могут быть электрическими, газовыми и твердотопливными. Бытовыми и промышленными, громоздкими и миниатюрными, стационарными и мобильными. И в то же время, есть универсальное устройство, с помощью которого можно и дом отопить, и ужин вкусный приготовить, и даже маленький семейный бизнес организовать. Называется это устройство печкой. </p>

      
      <div class="chapter">
        <div class="chapter__title_wrapper">          
            <h3 class="chapter__title">Разновидности печей</h3>
          
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.webp 1x,
                ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.png 1x,
                ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/arrow-down@1x.webp 1x,
                ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
./images/tablet/article/arrow-down@1x.png 1x,
./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
./images/mobile/article/arrow-down@1x.webp 1x,
./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
./images/mobile/article/arrow-down@1x.png 1x,
./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Печь – это обобщающее название целого ряда приспособлений и строений, которые могут кардинально отличаться по своим параметрам, материалу изготовления, назначению и способу применения. Объединяет их история возникновения и цель создания. Например, первые земляные печи были еще в древнем Риме (несколько столетий до нашей эры). А в средние века нашей эры, печки уже были не просто функциональной конструкцией, а произведением искусства (см. рис. 1). 
          </p>
          <div class="img__problems_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/pechi_desktop@1x.webp 1x,
                ./images/desktop/article/pechi_desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/pechi_desktop@1x.jpg 1x,
                ./images/desktop/article/pechi_desktop@2x.jpg 2x
                "
              />
    
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/pechi_tablet@1x.webp 1x,
                ./images/tablet/article/pechi_tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/pechi_tablet@1x.jpg 1x,
                ./images/tablet/article/pechi_tablet@2x.jpg 2x
                "
              />
    
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/pechi_mobile@1x.webp 1x,
                ./images/mobile/article/pechi_mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/pechi_mobile@1x.jpg 1x,
                ./images/mobile/article/pechi_mobile@2x.jpg 2x
                "
              />
    
              <img class="img__problems" loading="lazy" src="#" alt="разновидности печей" />
            </picture>
          </div>
          <p class="img__problems_description">Рис.1 Разновидности печей</p>
          <p>
            По назначению печи можно условно разделить на две категории: промышленные и бытовые. Первые предназначены для выпечки хлеба, плавки металлов, обжига керамических изделий в производственных масштабах. Печки для бытового использования в свою очередь могут служить только для отопления помещений, исключительно для приготовления еды, а также для обогрева и приготовления одновременно.
          </p>
          <p>По материалу изготовления печки бывают: кирпичные, каменные, глиняные и металлические (см. рис. 2).</p>
          <div class="img__problems_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/pechi_desktop1@1x.webp 1x,
                ./images/desktop/article/pechi_desktop1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/pechi_desktop1@1x.jpg 1x,
                ./images/desktop/article/pechi_desktop1@2x.jpg 2x
                "
              />
    
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/pechi_tablet1@1x.webp 1x,
                ./images/tablet/article/pechi_tablet1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/pechi_tablet1@1x.jpg 1x,
                ./images/tablet/article/pechi_tablet1@2x.jpg 2x
                "
              />
    
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/pechi_mobile1@1x.webp 1x,
                ./images/mobile/article/pechi_mobile1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/pechi_mobile1@1x.jpg 1x,
                ./images/mobile/article/pechi_mobile1@2x.jpg 2x
                "
              />
    
              <img class="img__problems" loading="lazy" src="#" alt="разновидности печей" />
            </picture>
          </div>
          <p class="img__problems_description">Рис.2 1-кирпичная печь, 2-каменная печь, 3-глиняная печь, 4-металлическая печь</p>
          <p>Из чугуна и стали производят металлическую разновидность печей, которые чаще называют буржуйками. Это небольшие, простые конструкции, состоящие собственно из камеры горения и дымоходной трубы. Чаще всего дымоотвод прикрепляется сбоку, чтобы верхняя часть могла использоваться как варочная поверхность. Популярность таких печек вызвана незамысловатой конструкцией, которую легко изготовить самостоятельно, а также возможностью устанавливать агрегат практически в любом помещении (даже в блиндажах, вагонах, землянках и т.п).
          </p>
          <p>К этой категории печей можно отнести печь Франклина, которая фактически является чугунным камином</p>
          <p>Отличительной чертой глиняных печей является доступность и дешевизна материала изготовления, небольшие размеры и простота конструкции. Наиболее известный пример печи из глины – помпейская печь. Это небольшое купольное сооружение с прямым дымоходом, единственное предназначение которого – приготовление пищи.</p>
          <p>
            Каменные печи не получили большой популярности и широкого применения из-за своей специфичности. Процесс кладки такой печки очень трудоемкий, требует наличия камней различного размера, конструкция получается весьма увесистой и громоздкой. 
            </p>
          <p>Кладка печи из кирпича – самый популярный способ устройства отопительной системы совместно с организацией места для приготовления пищи. Кирпич позволяет создать печную конструкцию максимально удобной величины и формы. Кирпичная кладка дает возможность реализовать индивидуальный проект, который будет надежным, долговечным и практичным. Печь из кирпича может выполняться в различных вариациях (см. рис. 3). </p>
          <div class="img__problems_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/gryba_desktop@1x.webp 1x,
                ./images/desktop/article/gryba_desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/gryba_desktop@1x.jpg 1x,
                ./images/desktop/article/gryba_desktop@2x.jpg 2x
                "
              />
    
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/gryba_tablet@1x.webp 1x,
                ./images/tablet/article/gryba_tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/gryba_tablet@1x.jpg 1x,
                ./images/tablet/article/gryba_tablet@2x.jpg 2x
                "
              />
    
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/gryba_mobile@1x.webp 1x,
                ./images/mobile/article/gryba_mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/gryba_mobile@1x.jpg 1x,
                ./images/mobile/article/gryba_mobile@2x.jpg 2x
                "
              />
    
              <img class="img__problems" loading="lazy" src="#" alt="разновидности груб" />
            </picture>
          </div>
          <p class="img__problems_description">Рис.3 1 - Шведка, 2 - Голландка, 3 - Печь Утермарка, 4 - Груба</p>
        </div>
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <h3 class="chapter__title">Как очистить кирпичную печь от сажи</h3>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.webp 1x,
                ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.png 1x,
                ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/arrow-down@1x.webp 1x,
                ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
              ./images/tablet/article/arrow-down@1x.png 1x,
              ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/arrow-down@1x.webp 1x,
                ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/arrow-down@1x.png 1x,
                ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Любая печь нуждается в уходе. В противном случае можно вместо тепла и уюта получить массу неприятностей и проблем. Печка, как и любое устройство, работает соответственно своему текущему состоянию. Поэтому чистка – залог длительной и эффективной работы печного оборудования. Процесс обслуживания можно разделить на три основных этапа. 
          </p>
          <p><em>Повседневные обязанности хозяина печи</em></p>
          <p>
            Используя печное отопление, основная задача хозяина дома – выбор и заготовка сырья. Его качество будет сильно сказываться на удобстве процесса топки, а также степени образования копоти и сажи в системе. Поэтому, не лишним будет знать, <strong><em>как почистить печку в частном доме</em></strong> народными средствами. Соль, картофельные очистки, ореховая скорлупа или осиновые поленья – вспомогательные средства для чистки печи, которые доступны практически любому владельцу печи.
          </p>
          <p>Перед каждой топкой обязательно вычищать золу. Даже если кажется, что ее совсем немного. Зола мешает притоку воздуха. Ее «запасы» мешают розжигу, ухудшают процесс горения, снижают КПД отопительной системы, способствуют прогоранию колосников и других элементов печи.</p>
          <p>Также владелец печки должен постоянно осматривать конструкцию и следить за ее работой. Это нужно для своевременного выявления проблем и их устранения. В зависимости от ситуации, может понадобиться помощь специалистов. </p>
          <p><em>Услуги трубочиста</em></p>
          <p>Сажа – это побочный продукт горения, который нужно удалять регулярно. Отложения сажи препятствуют отведению дымовых газов. Это сразу сказывается на тяге в дымовых каналах, увеличивает расход сырья, и может стать причиной пожара. Бороться с сажей помогает трубочист. К нему стоит обращаться при возникновении следующих проблем:</p>
          <ul>
            <li>сложности с розжигом или затухание пламени;</li>
            <li>задымленность помещения, оседание копоти на окружающих поверхностях, образование потеков из-под дверец;
            </li>
            <li>снижение температура обогрева помещения или значительное увеличение затрат сырья на достижение того же температурного режима;</li>
            <li>ухудшение самочувствия жильцов с началом использования печки.</li>
          </ul>
          <p>Трубочист сможет произвести качественную чистку дымохода и печного оборудования методом механической чистки. В его арсенале есть специальные щетки и ерши, а также различные удлинители и грузы, с помощью которых осуществляется удаление сажи в каждом уголке внутреннего пространства печи. Также опытный специалист сможет организовать правильный процесс чистки при отсутствии специальных отверстий для чистки печных каналов. Конечно, для этого придется в некоторых местах разобрать кладку и демонтировать имеющуюся облицовку печки. Однако, это самое верное решение в такой ситуации. Не стоит отдавать предпочтение сомнительным и опасным интернет-рекомендациям типа <strong><em>«как чистить колодцы в печке, используя керосин»</em></strong> или «как сделать ерш для чистки дымохода из подручных материалов». Подобные эксперименты могут стоить во много раз дороже.</p>
          <p>Еще трубочист разъяснит, <strong><em>как почистить печку от сажи</em></strong> химическим методом. Точнее, как поддерживать чистоту, безопасно используя хим. очистители. </p>
          <p><em>Услуги печника</em></p>
          <p>При обнаружении трещин в кладке печи или дымохода, следует обратиться к печнику. Мастер поможет определить причину возникновения этих дефектов и выбрать эффективный способ ее устранения. Пренебрегать такими проблемами не нужно. Во-первых, потому, что это опасно. Через трещины в помещение может поступать дым, содержащий отравляющий угарный газ. Во-вторых, потому, что это может приводить в заблуждение. Например, бывают ситуации, когда владелец печки сосредоточен на вопросе <strong><em>«как почистить печь чтобы не дымила»</em></strong>, при этом, не обращая внимания, что задымленность помещения происходит из-за нарушения целостности конструкции. Вызов печника в такой ситуации экономит время и деньги. Еще один повод проконсультироваться с профессионалом – облицовка печи. Советы специалиста помогут избежать проблем, связанных с дальнейшим разрушением облицовочного материала (см. рис.4).</p>
          
          <p>Конечно, стоит отметить, что в современном мире, печник и трубочист – зачастую один и тот же человек. Поэтому, для решения любых вопросов по кладке, ремонту и чистке печек можно смело обращаться к одному мастеру.
          </p>
        </div>
        
      </div>
      <div class="chapter">
        <div class="chapter__title_wrapper">
          <div><h3 class="chapter__title">Как почистить сажу в печи самостоятельно?</h3></div>
          <div class="img__arrows_wrapper">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.webp 1x,
                ./images/desktop/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                ./images/desktop/article/arrow-down@1x.png 1x,
                ./images/desktop/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/arrow-down@1x.webp 1x,
                ./images/tablet/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/tablet/article/arrow-down@1x.png 1x,
                ./images/tablet/article/arrow-down@2x.png 2x
                "
              />

              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/arrow-down@1x.webp 1x,
                ./images/mobile/article/arrow-down@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                ./images/mobile/article/arrow-down@1x.png 1x,
                ./images/mobile/article/arrow-down@2x.png 2x
                "
              />

              <img class="img__problems_arrows-down" loading="lazy" src="#" alt="жми на стрелку" />
            </picture>
          </div>
        </div>
        <div class="chapter__description">
          <p>
            Решение чистить печку собственноручно должно быть взвешенным и посильным. Прежде чем начинать борьбу с засорами, надо обдумать план действий и запастись необходимыми инструментами. 
          </p>         
          <p>
            Сперва следует избавиться от золы и сажи, которые можно убрать руками (совком, шпателем, щеткой). Далее очередь дымохода. В зависимости от его длины и конструкции, могут использоваться разные подходы. Если удобнее производить чистку сверху вниз, то необходимо организовать безопасный доступ на крышу дома. Кроме страховочного троса, надо взять ерш диаметром на 20% больше диаметра дымохода. А также груз и трос для продвижения ерша по дымоходу. Когда конструкция дымохода позволяет осуществлять чистку снизу вверх, то орудовать ершом помогут специальные удлинители. Они могут быть жесткими (для прямых ходов) и гибкими (для доступа к каналам с ответвлениями). Эти трубки можно присоединять друг к другу, таким образом «наращивая» необходимую длину.
          </p>
          <p>
            Если в конструкции дымохода есть боров (часть, расположенная под углом), то для качественного процесса чистки может понадобиться его разобрать. Разбору может подлежать и кладка печи, если нет оборудованных ходов для чистки каналов.
          </p>
          <p>
            И, конечно, удаление сажи из печи и дымохода – занятие хлопотное и трудоемкое. Кроме физической сноровки понадобиться немного терпения.
          </p>
        </div>
      </div>
      
      
    </div>
  </div>
</section>
